<!DOCTYPE html>
{% import 'headers.html' as headers %}
{% import 'footers.html' as footers %}
{% import 'algo.html' as algo %}

<html lang="en">
	<head>
		<title>Intertwining Number theory and combinatorics</title>
		{{ headers.meta() }}
	</head>

	<body>
		{{ headers.full_upper('Number theory in Combinatorics', 'Combinatorics') }}

		<h2>Introduction</h2>
		<p>This article is intended to show aspects of number theory that are useful for calculating some values particularly suited for combinatorics (e.g. binomial coefficient modulo some value), and also certain number-theoretical properties of binomial coefficient. Some definitions and theorems (most of which were already stated and shown in number-theoretic articles) from number theory will be stated here:</p>
		<ol>
			<li>If \(gcd(a, m)=1\), then there exists such number \(a^{-1}\), that \(a*a^{-1} \equiv 1 \pmod m\). Number \(a^{-1}\) is often called <b>modular multiplicative inverse</b> of \(a\) <a href="https://en.wikipedia.org/wiki/John_Gotti">with respect</a> to modulus \(m\). Modular inverse can be found using extended euclid algorithm, as it allows to find \(p, q\) satisfying \(a*p+m*q = 1\) - thus, \(p=a^{-1}\).</li>
			<li>If \(\forall_{i,j} gcd(s_i, s_j)=1\), then a system of equations in form:
			$$\begin{cases}
				x \equiv c_1 \pmod {s_1} \\
				x \equiv c_2 \pmod {s_2} \\
				\dots \\
				x \equiv c_m \pmod {s_m} \\
			\end{cases}$$
			has infinitely many solutions \(x\) satisfying equation \(x \equiv s \pmod {s_1s_2 \dots s_m}\) for exactly one \(s \in \lt 0; s_1s_2 \dots s_m-1\gt\)
			</li>
			<li><strong>p-adic order</strong> (denoted by \(\nu_p(x)\)) is highest exponent of \(p\) dividing \(x\): that is, if factorization of \(x\) is \(x=p_1^{q_1} \dots p_n^{n}\), then \(\nu_{p_i}(x)=q_i\)</li>
		</ol>

		<h2>Problem 2: divisibilty of binomial coefficient</h2>
		<p>Suppose You are given \(t\) queries (\(t \le 10^6\)) asking, whether \(p^q | \binom{n}{m}\) for \(p, q, n, m \le 10^6\).</p>
		<h3>Overview of this property</h3>
		{{ algo.neo_algorithm(1, 'Divisibility of a binomial coefficient', '
			<p>Input format: values \(n, d\), - number of rows to print and divisor; all numbers are printed modulo \(d\)<br>
			\(n, d\)<br>
			</p>
			', '10 2', {'algo_type':'shower', 
			'color_description':{'standard':'Number not divisible by \(d\)', 'crucial':'Number divisible by \(d\)'} }) }}
		<h3>Solution: Legendre's formula and Kummer theorem.</h3>
		<h4>Subproblem I: finding out, whether \(p^q | n!\): Legendre's formula</h4>
		<p>Notice, that $$\nu_p(n!)=\sum_{i=0}^{\infty} \lfloor \frac{n}{p^i} \rfloor$$</p>
		<p>Because \(\nu_p(n!)=\sum_{i=0}^{n} \nu_p(i)\) - and there are exactlu \(\lfloor \frac{n}{p} \rfloor\) numbers divisible by \(p\) in range \(\lt 1; n \gt\), exactly \(\lfloor \frac{n}{p^2} \rfloor\) divisible by \(p^2\), ... etc. The number of times a number \(x \in \lt 1; n \gt\) is added to this sum is equal to \(\nu_p(x)\). This result is known as <strong>Legendre's Formula</strong>. One can, however, produce different version of the same result; 
		$$ \nu_p(n!)=\frac{n-s_p(n)}{p-1}$$
		Where \(s_p(n)\) is sum of digits of \(n\) in positional representation of \(n=a_0+a_1p^1+\dots+a_mp^m\) to base \(p\). Proof is purely algebraic:
		$$ \nu_p(n!) = \sum_{i=0}^{\infty} \lfloor \frac{n}{p^i} \rfloor = (a_1p^0 + a_2p^1 + \dots +a_mp^{m-1})+(a_2p^0 + a_3p^1 + \dots +a_mp^{m-2}) + \dots + (a_mp^0) = $$
		$$ = a_1(p^0)+a_2(p^1+p^0)+\dots+a_m(p^{m-1}+p^{m-2}+\dots + p^0) = $$
		$$ = a_1\frac{1-p^1}{1-p} + a_2\frac{1-p^2}{1-p} + \dots + a_m\frac{1-p^m}{1-p} = $$
		$$ = \frac{a_1p^1+a^2p^2+\dots+a_mp^m-a_1-a_2-\dots-a_m}{p-1} = $$
		$$ = \frac{a_0p^0+a_1p^1+a^2p^2+\dots+a_mp^m-a_0-a_1-a_2-\dots-a_m}{p-1} = $$
		$$ = \frac{n-s_p(n)}{p-1} = \nu_p(n!)$$
		<h4>Subproblem II: finding out, whether \(p^q | \binom{n}{m}\) -  Kummer's theorem</h4>
		<p>So, does \(p^q | \binom{n}{m}\)? In order to find out, one can expand this equation:
		$$ \nu_p(\binom{n}{m}) = \nu_p(\frac{n!}{(n-m)!m!}) = \nu_p(n!)-\nu_p(m!)-\nu_m(n-m!) = $$ 
		$$ = \frac{n-s_p(n)-m+s_p(m)-(n-m)+s_p(n-m)}{p-1} = \frac{s_p(m)+s_p(n-m)-s_p(n)}{p-1}$$
		Now, <strong>Kummer's theorem</strong> states, that \(\nu_p(\binom{n}{m})\) is equal to the number of carries occuring during adding \(m\) and \(n-m\). Notice, that:
		<ul>
			<li>Sum of \(m\) and \(n-m\) is equal to \(n\).</li>
			<li>Say, equality \(A+B=C\) is considered. Each carry while adding to base \(p\) adds one to sum of digits of \(C\) on \(i\)-th position and reduces sum of digits on \(i-1\)-th position by \(p-1\).</li>
		</ul>
		<p>Corollary of these misty ideas is Kummer's theorem.</p>

		

		<div id="problems"></div>
		<button class="sender" id="taskButton" name="next" type="submit" formmethod="post" form="page" value="taskAdder" style="display:none;">Add Problem</button>
		<script src="{{url_for('static', filename='Unholy_romance.js')}}"></script>
		<form id="page" style="display:none"></form>
		{{ footers.full_lower() }}

	</body>
</html>
