<!DOCTYPE html>
{% import 'headers.html' as headers %}
{% import 'footers.html' as footers %}
{% import 'algo.html' as algo %}

<html lang="en">
	<head>
		<title>Advanced Primes</title>
		{{ headers.meta() }}
	</head>
	<body>
		{{ headers.full_upper('Advanced Primes', 'NumberTheory') }}

		<h2>Introduction</h2>
		<p>This article is intended to show efficient, not necessarily elegant methods of finding whether particular number is prime, and also its factorization. Definitions introduced in this article include:</p>
		<ol>
			<li>There are myriads of <strong>tests</strong>, that check, whether a number \(m\) is prime; every one of tests shown here uses some <strong>base</strong>. Testing consists of two steps:
				<ol>
                    <li>Choosing a base \(b\). In this article, it is assumed, that \(b \in \{1, 2, \dots, m-1\}\).</li>
					<li>Checking, whether a number is composite according to the given test. Later, result of this test will be denoted by: $$test(m, b) = \begin{cases} 1 \text{ test using base \(b\) shows, that \(m\) is composite} \\0 \text{ otherwise}\\ \end{cases} $$</li>
				</ol>
                If \(test(m,b)=0\) for some base \(b\), then, \(b\) will be called <strong>non-witness</strong> or - if \(m\) is composite - <strong>liar</strong> regarding compositeness of \(m\). Conversely, if \(test(m, b)=1\) for base \(b\), then \(b\) will be called a <strong>witness</strong> of compositeness of \(m\). Two particular tests will be described later: <strong>Fermat test</strong> and <strong>Miller-Rabin test</strong>. Later, such witness \(x\) of compositeness of \(m\), that \(gcd(x, m) \neq 1\) will be called <strong>trivial witness</strong>, and any other witness - <strong>non-trivial witness</strong>.
			</li>
			<li><strong>Carmichael number</strong> is such composite number \(m\), that \(\lambda(m) | m-1 \), where \(\lambda\) denotes <a href="http://localhost:5000/proot#41_Problem_IV:_maximal_order_for_a_given_number">Carmichael function</a>. For example, \(561\) is a Carmichael number, as:
                \begin{align}

                561 &= 3*11*17 \\
                \lambda(561) &= lcm(\lambda(3), \lambda(11), \lambda(17)) \\
                \lambda(561) &= lcm(2, 10, 16) \\
                \lambda(561) &= 80 \\
                561-1 &= 80*7 \\
                \lambda(561) &| 561-1 \\
                \end{align}
            
            </li>

            <li>In this article, \(\nu_p(m)\) denotes maximal exponent \(h\), for which \(p^h | m\). For example, \(\nu_2(96) = \nu_2(2^5 3) = 5\). This is used here only to simplify notation.</li>
		</ol>

		<h2>Problem I: Is given number prime?</h2>
		<p>A number \(m \le 10^{18}\) is given; is this number a prime number?</p>
		<h3>Fundamental lemmas</h3>
		<h4>Lemma 0: On set sizes with mapping element</h4>
		<p>Thesis: Suppose, two sets \(S\) and \(T\) are given, with elements belonging to \(\{1, 2, \dots m-1\}\), along with number \(a\) coprime to \(m\). Then, if:
		$$ \forall_{x \in S} x*a \equiv y \pmod m $$
		where \(y \in T\), and
		$$ \forall_{y \in T} y*a^{-1} \equiv z \pmod m $$
		where \(z \in S\), then \(|T|=|S|\)
		</p>
		<p>Proof:</p>
		<ol>
			<li>All elements \(x*a\) for \(x \in S\) are distinct; otherwise, for elements \(x_1\) and \(x_2\) belonging to \(S\), where \(x_1*a \equiv x_2*a \pmod m\), but \(x_1 \not \equiv x_2 \pmod m\):
                $$
                \begin{align}
				x_1*a &\equiv x_2 *a \pmod m \ \ \ \ //*a^{-1} \\
                x_1 &\equiv x_2 \pmod m \\ 
                \end{align}
                $$
				Analogous argument can be made for set \(T\) and element \(a^{-1}\).
			</li>
			<li>From above, \(|S| \le |T|\) - because multiplying element from \(S\) by \(a\) always leads to different element from \(T\). Analogous argument can be made for set \(T\): that is, \(|T| \le |S|\). Thus, \(|T|=|S|\).</li>
		</ol>
		<p>Remark: Providing mapping element (\(a\)) for two sets with shows, that sets have same size (provided condition of being coprime is satisfied).</p>

		<h3>Solution I: Fermat primarility test</h3>
		<p>First test shown relies on special case of euler's theorem (\(gcd(a,m)=1 \implies a^{\phi(m)} \equiv 1 \pmod m\)), namely Fermat's little theorem:
		 $$a^{p-1} \equiv 1 \pmod p $$
         For a prime number \(p\) and \(a\) coprime to \(p\). If there is such \(a \in \{1, 2, \dots m-1\}\), that \(a^{m-1} \not \equiv 1 \pmod p\), then \(p\) is not a prime.</p>
		<p>Let \(test_F(m, b)\) denote results of Fermat test testing compositeness of \(m\) using a base \(b\).
		$$test_F(m,b)=
		\begin{cases} 
			1 \text{ if \(b^{m-1} \not \equiv 1  \pmod m\)} \\
			0 \text{ otherwise} \\
		\end{cases}
		$$
		</p>

		<h4>Thesis I: if a number \(m\) is neither a prime nor a Carmichael number, then there are at least \(\frac{m-1}{2}\) fermat witnesses for \(m\)</h4>
		<ol>
			<li>If \(gcd(b, m) \gt 1\), then \(b^{m-1} \not \equiv 1 \pmod m\) - so, instead, a lemma showing that at least half of numbers coprime to \(m\) are fermat witnesses will be shown:
				$$\frac{\phi(m)}{2}+(m-1-\phi(m)) \ge \frac{m-1}{2}$$
			</li>
			<li>Let \(S=\{b: b^{m-1} \equiv c \pmod m\}\) for some \(c \not \equiv 1 \pmod m\) where \(gcd(c, m)=1\). Let also \(T=\{b: b^{m-1} \equiv 1 \pmod m\}\). If \(|S| \ge 1\), then let \(a\) denote any element from \(S\). Then, for \(b \in S\):
				$$ (b * a^{-1})^{m-1} \equiv b^{m-1} (a^{m-1})^{-1} \equiv c*c^{-1} \equiv 1 \pmod m$$
				And for \(b \in T\):
				$$ (b * a)^{m-1} \equiv b^{m-1} (a^{m-1}) \equiv 1*c \equiv c \pmod m$$

				Thus, from lemma 0, if mapping element exists, then $$|\{x: x^{m-1} \equiv 1 \pmod m\}| = |\{x: x^{m-1} \equiv c \pmod m\}| $$
				What follows, if there is at least one witness \(\pmod m\), there are no less non-trivial fermat witnesses than non-witnesses \(\pmod m\).
			</li>
			<li>When does a number \(m\) not have any non-trivial witness? When for all \(h\) coprime to \(m\): \(h^{m-1} \equiv 1 \pmod m\). Note, that if \(\lambda(m) \nmid m-1\), this won't happen - if \(g\) is such number, that \(ord_m(g)=\lambda(m)\), then \(g^y \equiv 1 \pmod m\) if and only if \(\lambda(m) | y\). Conversely, if \(\lambda(m) | m-1\), this <strong>will</strong> happen - as for any \(g\) coprime to \(m\): \(ord_m(g) | \lambda(m)\), so 
				$$ g^{m-1} \equiv g^{\lambda(m)*\_tmp} \equiv g^{ord_m(g)*\_tmp2} \equiv (g^{ord_m(g)})^{\_tmp2} \equiv 1^{\_tmp2} \equiv 1 \pmod m $$.
			Such numbers are either prime numbers or Carmichael numbers.
			</li>
		</ol>
		<h4>Summarizing Fermat test</h4>
		<p>To sum it up: Fermat test consists of testing for a base \(b\), whether \(b^{m-1} \not \equiv 1 \pmod m\) - if so, then \(m\) is composite; otherwise, \(m\) might be prime. If there is a non-trivial witness of compositeness of \(m\), then there are not less than \(\frac{m-1}{2}\) non-trivial witnesses of compositeness of \(m\). There are numbers, for which there are no non-trivial Fermat's witnesses of compositeness - prime numbers and Carmichael numbers, that is numbers, for which \(\lambda(m) | m-1\) holds.
		</p>

		<h3>Solution II: Miller-Rabin primarility test</h3>
		<ol>
            <li>Notice, that if \(m\) has a primitive root, then there are only 2 such numbers \(x\), that \(x^2 \equiv 1 \pmod m\) - namely \(1\) and \(m-1\) - if \(m\) has a primitive root, then number of such numbers \(g\), that \(ord_m(g)=2\) is equal to \(\phi(2)=1\) - this comes from <a href="/proot#30_Problem_II:_The_number_of_primitive_roots_modulo_\(m\)">here</a> (basically, if \(d|\phi(m)\) and \(m\) has a primitive root, then there are \(\phi(d)\) such numbers \(h \in \{1, 2, \dots, m-1\}\), that \(ord_m(h)=d\)). </li>

			<li>All prime numbers have at least one primitive root (also powers of odd prime number).</li>
			<li>Miller-Rabin test involves checking, whether:
				<ol>
					<li>\(g^{m-1} \not \equiv 1 \pmod m\) - if so, then \(m\) is not a prime.</li>
                    <li>If \(g^{(m-1)/2^h} \equiv 1 \pmod m\) for some \(h: h+1 \le \nu_2(m-1)\), the test checks whether \(g^{(m-1)/2^{h+1}} \equiv \pm 1 \pmod m\) - if not, then \(m\) is a prime.</li>
				</ol>
			</li>
			In other words, if \(test_{MR}(m,b)\) denotes, whether Miller-Rabin test found a witness of compositeness of \(m\), then:
			$$test_{MR}(m,b)=
			\begin{cases} 
			1 \text{ if \(b^{m-1} \not \equiv 1  \pmod m\)} \lor (\exists_{k \in \{\frac{m-1}{2}, \frac{m-1}{4}, \dots \frac{m-1}{2^l} \}} b^k \not \equiv \pm 1 \pmod m \land b^{2k} \equiv 1 \pmod m) \text{ for \(l=\nu_2(m-1)\)}\\
				0 \text{ otherwise} \\
			\end{cases}
		$$
			<li>Note, that - because of first step - every Fermat witness is also Miller-Rabin witness.</li>
		</ol>

		{{ algo.neo_algorithm(1, 'Primarility tests: Fermat and Miller-Rabin', '
			<p>Input format: value \(m\), for which all witnesses and non-witnesses will be shown<br>
			\(m\)<br>
			</p>
			', '15', {'algo_type':'shower', 
			'color_description':{'standard':'Non-witness', '_pink':'Both Fermat witness and Miller-Rabin witness', '_violet':'Miller-rabin witness'}, 
			'add_on':'checkbox', 'added_elements':['summary_exec', 'Summary Execution']
			}) }}

		<h4>Probability of hittin' a witness part I: A short remark on Carmichael numbers</h4>
		<p>Only Carmichael numbers have less than \(\frac{m-1}{2}\) witnesses; what can be said about them?</p>
        <h5>Thesis I: Carmichael numbers are not divisible by 2</h5>
        <ol>
            <li>If a number \(m\) is even, then \(2 \nmid m-1\).</li>
            <li>If a composite number is divisible by 4, then \(2 | \lambda(m)\) - hence \(\lambda(m) \nmid m-1\).</li>
            <li>If a composite number is divisible by 2 but not by 4, then - as it has to be composite number - it is divisible by some odd prime \(p\). Then, \(p-1 | \lambda(m)\), hence \(2 | \lambda(m)\), and \(\lambda(m) \nmid m-1\).</li>
            <li>Thus, Carmichael number cannot be divisible by 2.</li>
        </ol>

		<h5>Thesis II: All Carmichael numbers are square-free: that is, they have a form \(m=p_1p_2 \dots p_n\), where all \(p_i\) are distinct.</h5>
		<ol>
			<li>Suppose, that there is some Carmichael number divisible by \(p^q\) where \(q \gt 1\) and \(p\) is odd.</li>
			<li>Clearly, \(\phi(p^q) | \lambda(m)\), and as \(\lambda(m) | m-1\), then \(\phi(p^q) | m-1\)</li>
            <li>\(\phi(p^q) = p^{q-1}(p-1)\)</li>
			<li>However, as \(p | m\), then \(p \nmid m-1\) - which contradicts our statement.</li>
		</ol>
		<h5>Supplement: Korselt's Criterion</h5>
			<p>Korselt's Criterion states, that for all primes \(p\) dividing \(m\):
				$$\forall_{p \in P:p|m} p-1 | m-1 \iff m \in C$$
				, where \(C\) denotes set of Carmichael numbers.
			</p>
		<h6>Part I: Carmichael implies criterion</h6>
			<p>Assuming thesis II (above - Carmichael numbers are square-free), if \(m=p_1p_2 \dots p_n\) is a Carmichael number, then 
			$$\lambda(m)=lcm(\lambda(p_1), \lambda(p_2), \dots, \lambda(p_n))=lcm(\phi(p_1), \phi(p_2), \dots, \phi(p_n))=lcm(p_1-1, p_2-1, \dots p_n-1)$$.
			Thus, \(p_1-1 | \lambda(m), p_2-1 | \lambda(m) \dots, p_n-1 | \lambda(m)\). And as \(\lambda(m) | m-1\) for Carmichael numbers, then \(m \in C\) implies for all prime divisors of \(m\): \(p_i-1 | m-1\).</p>
		<h6>Part II: Criterion implies Carmichael</h6>
			<p>Still, \(p_i\) denotes prime divisor of some number \(m\); if for all primes dividing \(m\)
			$$p_i-1 | m-1$$, 
			then \(\lambda(m)=lcm(p_1-1, p_2-1, \dots, p_n-1)\) must divide \(m-1\), because:
			<ol>
                <li>\(m-1\) is common multiple of \(p_1-1, p_2-1, \dots, p_n-1\)</li>
                <li>\(\lambda(m)\) is lowest common multiple of \(p_1-1, p_2-1, \dots, p_n-1\)</li>
			</ol>
			<p>Thus, if for all \(p_i\) one can argue, that if \(p_i-1 | m-1\), then \(m\) is a Carmichael number</p>
		<h5>Thesis III: All Carmichael numbers have at least 3 distinct primes in their factorization</h5>
		<ol>
			<li>Suppose, that there is some Carmichael number \(v=pq\) with prime, distinct \(p, q\).</li>
			<li>From Korselt's criterion \(p-1 | m-1\), also \(q-1 | m-1\)</li>
			<li>\(m-1=(p-1)(q-1)+p+q-2 = (p-1)(q-1)+(p-1)+(q-1)\) - pure algebra.</li>
			<li>\(p-1 | (p-1)(q-1)+(p-1)+(q-1) \implies p-1 | q-1\)</li>
			<li>\(q-1 | (p-1)(q-1)+(p-1)+(q-1) \implies q-1 | p-1\)</li>
			<li>Both statements above cannot be true simaltaneously, if \(p \neq q\)</li>
		</ol>

		<h4>Probability of hittin' a witness part II: Amount of witnesses among odd numbers with at least two distinct prime divisors (among them Carmichael numbers).</h4>
		<p>First, \(m=p_1^{q_1} \dots p_n^{q_n}\) will from now on to the end of this proof denote odd number with \(n \ge 2\).</p>
		<h5>Symbols used</h5>
		<ol>
            <li>\(\tau = \frac{m-1}{2^{\nu_2(m-1)}}\)</li>
            <li>\(R = \{x \in \{1, 2, \dots m-1\}: x^2 \equiv 1 \pmod m\}\)</li>
            <li>\(\omega_r(h) = \{x \in \{1, 2, \dots m-1\}: x^h \equiv r \pmod m \land r \in R\}\)</li>
			<li>\(\Omega_r = \bigcup_{h \in \{m-1, (m-1)/2, \dots \tau\}} \omega_r(h) \)</li>
		</ol>

		<h5>Number of non-witnesses</h5>
		<p>
		Elements belonging to \(\Omega_{m-1}\) are always Miller-Rabin non-witnesses. Furthermore, if \(b^{\tau} \equiv 1 \pmod m\), then \(b\) is also a non-witness. Those are only non-witnesses: Thus, number of Miller-Rabin non-witnesses equals:
		$$ |\Omega_{m-1}| + |\omega_{1}(\tau)|$$
        It will be shown, that for all composite numbers with at least two distinct prime divisors (among them Carmichael numbers):
        $$ |\Omega_{m-1}| + |\omega_{1}(\tau)| \le \frac{m-1}{4}$$
		</p>

		<h5>Outline of the primary proof</h5>
		<p>A proof will show, that if there are \(|R|\) such numbers \(r\), that \(r^2 \equiv 1 \pmod m\) in form
		$$ r \equiv s_1 \pmod {p_1^{q_1}} $$
		$$ r \equiv s_2 \pmod {p_2^{q_2}} $$
		$$ \dots $$
		$$ r \equiv s_n \pmod {p_n^{q_n}} $$
		where \(\forall_i s_i \in \{1,-1\}\), then at least \(\frac{|R|-2}{|R|}\) of fermat liars are Miller-Rabin witnesses.
		</p>
		<h5>First lemma: if \(|\omega_{m-1}(k)| \ge 1\), then \(\forall_r |\omega_r(k)| = |\omega_{m-1}(k)|\)</h5>
		<p>
		Let \(g\) denote some number belonging to \(\omega_{m-1}(k)\). For some \(r \in R\), let \(a_r\) denote such number, that:
		$$ a_r \equiv t_1 \pmod {p_1^{q_1}} $$
		$$ a_r \equiv t_2 \pmod {p_2^{q_2}} $$
		$$ \dots $$
		$$ a_r \equiv t_n \pmod {p_n^{q_n}} $$
		where 
		$$
		t_i \equiv 
		\begin{cases}
		g \pmod {p_i^{q_i}} \text{ iff } r \equiv 1 \pmod {p_i^{q_i}} \\
		1 \pmod {p_i^{q_i}} \text{ otherwise}
		\end{cases}
		$$
		Then, for some \(h \in \omega_{m-1}(k)\):
		$$ (h*a_r)^k \equiv 
		\begin{cases}
		(h*g)^k \equiv h^kg^k \equiv (-1)*(-1) \equiv 1 \equiv r \pmod {p_i^{q_i}} \text{ iff } r \equiv 1 \pmod {p_i^{q_i}} \\
		(h*1)^k \equiv h^k \equiv -1 \equiv r \pmod {p_i^{q_i}} \text{ otherwise}
		\end{cases}
		$$
		And, for some \(f \in \omega_{r}(k)\):
		$$ (f*a_r^{-1})^k \equiv 
		\begin{cases}
		(f*g^{-1})^k \equiv f^k(g^k)^{-1} \equiv 1*(-1)^{-1} \equiv -1 \pmod {p_i^{q_i}} \text{ iff } r \equiv 1 \pmod {p_i^{q_i}} \\
		(f*1)^k \equiv f^k \equiv -1 \pmod {p_i^{q_i}} \text{ otherwise}
		\end{cases}
		$$
		Thus, from lemma 0, \(|\omega_{m-1}(k)| = |\omega_r(k)|\) holds for any \(r \in R\), if \(|\omega_{m-1}(k)| \ge 1\).
		</p>
		<h5>Second lemma: \(|\omega_{m-1}(\tau)| \ge 1\)</h5>
		<p>
		One can show, that \(m-1 \in \omega_{m-1}(\tau)\) - because \(ord_{m}(m-1)=2\); as \(ord_{m}(m-1) \nmid \tau\), then \((m-1)^{\tau} \equiv m-1 \pmod m\).
		</p>
		<h5>Corollary: at least \(\frac{|R|-2}{|R|}\) of fermat liars are Miller-Rabin witnesses</h5>
		<ol>
			<li>\(|\omega_{m-1}(\tau)| \ge 1 \implies |\omega_1(\tau)| = |\omega_{m-1}(\tau)|\) - and \(|\omega_{m-1}(\tau)| \ge 1\) comes from second lemma.</li>
			<li>From above, \(|\omega_1(\tau)| \le |\Omega_{m-1}|\)</li>
			<li>And \(|\Omega_{m-1}| \le \frac{1}{|R|} \sum_r |\Omega_r|\) - because of first lemma.</li>
			<li>Thus, \(|\Omega_{m-1}|+|\omega_{m-1}(k)| \le \frac{1}{|R|} \sum_r |\Omega_r| + \frac{1}{|R|} \sum_r |\Omega_r| = \frac{2}{|R|} \sum_r |\Omega_r|\) - because of first lemma.</li>
			<li>What follows, proportion of Miller-Rabin witnesses to non-witnesses among Fermat liars is higher or equal to \(1-\frac{2}{|R|} = \frac{|R|-2}{|R|}\). Which ends the argument.</li>
		</ol>
		<h5>Implications of the above</h5>
		<ol>
			<li>For a number which has at least 3 prime divisors, \(|R| \ge 8\). What follows, at least \(\frac{8-2}{8}=\frac{3}{4}\) of numbers coprime to \(m\) are Miller-Rabin witnesses.</li>
			<li>For odd numbers with at least two distinct prime divisors, \(|R| \ge 4\). At least \(\frac{4-2}{4}=\frac{1}{2}\) of numbers coprime to \(m\) that are fermat liars are Miller-Rabin witnesses. As at least half of numbers coprime to \(m\) are Fermat witnesses, at least \(\frac{1}{2} + \frac{1}{2}*\frac{1}{2} = \frac{3}{4}\) of all numbers coprime to \(m\) are Miller-Rabin witnesses.</li>
			<li>Partially related to Miller-Rabin, primarily to Fermat test: if a composite number (say, \(x\)) is even, then at least half except one of numbers in set \(\{1, \dots x-1\}\) are non-coprime to \(x\) (they are trivial witnesses), and at least half of other numbers in this set are non-trivial fermat witnesses; in other words, if a number is even, then at least \(\frac{3}{4} x - 1\) numbers from set in set \(\{1, \dots x-1\}\) are Fermat witnesses, and thus also Miller-Rabin witnesses.</li>
		</ol>
		<h4>One last time, and Miller-Rabin will fade away</h4>
		<p>To sum it up:</p>
		<ol>
            <li>The aim of Miller-Rabin test is checking, whether some number \(m\) is composite. It chooses a base \(b \in \{1, 2, \dots, m-1\}\),  and then, checks, whether running a test with a given base shows, that a number is composite.</li>
			<li>Miller Rabin test first checks, whether \(b^{m-1} \equiv 1 \pmod m\) if not, then \(m\) is composite.</li>
			<li>Then, it checks, for subsequent \(k=2, 4, \dots 2^{\nu_2(m-1)}\), whether \(b^{(m-1)/k} \equiv 1 \pmod m\). If not, there are two possible outcomes:
				<ul>
                    <li>\(b^{(m-1)/k} \equiv -1 \pmod m\) - then \(b\) is not a witness of compositeness of \(m\), thus, \(test_{MR}(b)=0\).</li>
					<li>\(b^{(m-1)/k} \not \equiv -1 \pmod m\) - \(b\) is a witness of compositeness of \(m\), thus, \(test_{MR}(b)=1\).</li>
				</ul>
			</li>
			<li>Every fermat witness is also Miller-Rabin witness.</li>
			<li>Carmichael numbers have at least 3 prime divisors (and none of them is equal to 2) and are square-free.</li>
            <li>Composite number \(m\) has at most \(\frac{m-1}{4}+1\) Miller-Rabin liars if \(m\) has at least two distinct prime divisors or is even. <span style="color:#FF0000">UNPROVEN: this will hold for all composite \(m\) - case \(m=p^q\) remains unproven.</span></li>
			<li>If one calculates \(d=b^{\frac{m-1}{2^{\nu(m-1)}}}\), and then finds subsequent values to test as \(d^2, (d^2)^2, \dots \), then one can achieve complexity equal to that of a Fermat test - that is \(O(\log(m)*mul(m))\), where \(mul(m)\) denotes time needed to multiply two numbers of size \(\log(m)\) - something like \(O(\log^2(m)\log\log(m))\).</li>
			<li>Utilitarian remarks, part I: for \(m \le 2^{64}\) it is enough to check, whether \(test_{MR}(m,b)=0\) for bases \(\{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37\}\); if for each of those bases \(test_{MR}(m,b)=0\), then \(m\) is a prime.</li>
            <li>Utilitarian remarks, part II: If \(b\) is a miller-rabin witness but not fermat witness, then there is some \(k=b^{(m-1)/2^h}\), for which \(k \not \equiv \pm 1 \pmod m\), but \(k^2 \equiv 1 \pmod m\). Notice, that there is some prime \(p: p|m\), for which \(k \equiv 1 \pmod p\), and some prime \(q: q|m\), for which \(k \equiv -1 \pmod q\). And so, \(gcd(k+1, m) \gt 1\), and \(gcd(k-1, m) \gt 1\). This leads to some conclusions, among them: one can find a factor of Carmichael number in polynomial time.</li>
		</ol>
		
		<h2>Problem II: finding a factorization</h2>
		<p>Suppose You are given a number \(m: m \le 10^{18}\), and thine aim is to find a factorization of \(m\) into primes; that is, such values \(p_1, q_1, p_2, q_2, \dots p_n, q_n\), that \(m=p_1^{q_1} \dots p_n^{q_n}\) for prime \(p_1, \dots p_n\).</p>
		<h3>Solution: Pollard's rho algorithm</h3>

		<p>Pollard's Rho algorithm relies on following ideas:</p>
		<ol>
			<li>If an infinite sequence of elements \(w_0, w_1, w_2, \dots \) is given, all \(w_i \in \{0, 1, \dots m-1\}\), then there are some indexes \(x,y\), for which \(w_x = w_y\) - as \(w_i\) has one of \(m\) possible values. Furthermore, if \(w_i=g(w_{i-1})\) for any function \(g\), then sequences \((w_x, w_{x+1}, w_{y-1})\) and \((w_y, w_{y+1} \dots w_{2y-x-1})\) are identical.</li>
			<li>Suppose \(p|m\): if \(x \equiv y \pmod p \implies g(x) \equiv g(y) \pmod p\), then the sequence \(w\) taken \(\pmod p\) will also have a cycle of elements \(w_a, \dots w_{b-1}\) if \(w_a \equiv w_b \pmod p\) for some \(a, b\).</li>
			<li>Suppose, that \(g(x)\) taken \(\pmod p\) gives pseudorandom output (with uniform probability of each value). When will the cycle start? One can use birthday paradox to solve this problem: say, a sequence \(s_1, \dots s_k\) of random elements from uniform distribution, each \(s_i \in \{ 1, \dots p-1\}\) is given; for what \(k\) is the probability that it has two equal elements larger than \(\frac{1}{2}\)? By birthday paradox, \(k=O(\sqrt{p})\)</li>
			<li>If \(w_a \equiv w_b \pmod p\) for \(p: p|m\), then \(gcd(w_a-w_b, m) \gt 1\). Thus, to find a cycle in the sequence \(\pmod p\), it is enough to find for some pair of elements \(w_a, w_b\), then check, whether \(gcd(w_a-w_b, m) \gt 1\). And this \(gcd\) provides a factor of \(m\).</li>
		</ol>
		<p>To summarize the above; if one finds some function \(f\) satisfying above, generates a sequence \(w_i=f(w_{i-1})\), and finds a cycle in linear time (that is, elements, for which \(gcd(w_a-w_b, m) \in \lt 1; m-1 \gt \)), then one has an algorithm finding a divisor of \(m\) in \(O(\sqrt{least\_prime\_divisor\_of\_m} * \log(m))\). The remaining three questions: what function is appropriate, how to find a cycle in non-explicitly given graph, and what is the overall complexity with some caveats regarding use of this algorithm.</p>

		<h4>Part I: defining a function</h4>
		<p>Let's define certain function \(f\):</p>
		<ul>
			<li>\(f: \{0, 1, 2, \dots m-1\} \mapsto \{0, 1, 2, \dots m-1\}\)</li>
			<li>For any \(d: d|m\), $$x \equiv y \pmod d \implies f(x) \equiv f(y) \pmod d$$</li>
			<li>Values of \(f\) modulo any prime \(p: p|m\) are pseudorandom, uniformly chosen from \(\{1,\dots ,p\}\) (or, at least, their behavior is unpredictable).</li>
		</ul>
		<p>Those are the conditions that are imposed upon \(f\). It turns out, that any polynominal will do point \(2\); from assumption, that 
		$$ x-y=kd+lm $$
		one can prove, that:
		$$ f(x)-f(y) = a_0+a_1x^1+\dots+a_nx^n-a_0-a_1y-\dots-a_ny^n = $$
	       	$$ =a_1(x-y)+a_2(x^2-y^2)+\dots+a_n(x^n-y^n) = a_1(x-y)+a_2(x^2-y^2) + \dots a_n(x^n-y^n) = $$
		$$ = a_1(x-y) + a_2(x-y)(x+y) + a_n(x-y)(y^{n-1}+x^1y^{n-2}+\dots+x^{n-2}y + x^{n-1}) = $$
		$$ = (x-y)*s = (kd+lm)*s $$
		For some \(s \in N\). Thus, \(f(x)-f(y) \equiv 0 \pmod d\)
		Polynominal \(x^2+1\) should be enough to solve point (3).</p>
		<h4>Part II: Floyd's cycle-finding algorithm</h4>
		<p>The problem is posited as follows: suppose, there is a sequence \(c_0, f(c_0), f(f(c_0)), \dots\), and some relation of equivalence between elements, such that \(x \equiv y \implies f(x) \equiv f(y)\). Also, for simplicity, let \(c_i=f(c_{i-1})\). At some point, \(c_a \equiv c_b\) for some \(a, b\) (and thus, there is a cycle in this sequence). How to find two same (equivalent) elements in this cycle? Note, that checking for equivalence of \(a,b\) may be non-trivial - in case of pollard's rho, a divisor \(d\), modulo which all elements \(c_i\) are considered, is not known - in other words, representation, in which the numbers are equivalent, is not known; thus, \(gcd\) for two elements of sequence will be checked.</p>
		<p>Let \(l\) denote length of a part of the sequence, that is not a part of the cycle, let \(o\) denote length of a cycle</p>
		<p>Solution is, for example, Floyd's cycle finding algorithm: checking for equivalence \(c_k\) and \(c_{2k}\) in \(k\)-th check. Notice, that once \(c_k\) is a part of cycle, then \(c_{2k}\) also has to be a part of this cycle. Furthermore, if \(o\) is the length of the cycle, then exactly one of \((c_{2k} \equiv c_k, c_{2k+2} \equiv c_{k+1}, \dots c_{2k+2o-2}, \equiv c_{k+o-1})\) is true - because \(c_a, c_b\) are equivalent exactly when \(o|b-a\) and \(a \gt l \land b \gt l\). Thus, this algorithm will finish in \(O(l+o)\) comparisions.</p>

		<h4>Part III: Complexity, caveats, controversies</h4>
		<ol>
			<li>It may happen, that a cycle is found, for some \(a, b\), \(gcd(w_a-w_b, m) \gt 1)\) - most fortunate. However, \(gcd(w_a-w_b, m)=m)\) - not a single divisor is found. There are three questions associated with this inconvenience:
				<ol>
					<li>What does it mean? Let \(o_{p_i}\) denote length of the cycle for \(i\)-th prime divisor of \(m\). Then, \(\forall_i o_{p_i}|b-a\). After running this algorithm further (that is, just as if \(gcd(w_a-w_b, m)=1\)), it may either turn out, that all \(o_{p_i}\) are equal - thus, always \(w_x \equiv w_y \implies o|x-y\), or not. Things can also get messy, when \(m\) is not square-free in this simple analysis.</li>
					<li>How cope? Finding different seed \(w_0\) or polynominal \(f\) seems plausible.</li>
					<li>What is the probability of such occurence? Low.</li>
				</ol>
			</li>
			<li>As one can see, complexity of this method is \(O(\sqrt{least\_prime\_divisor\_of\_m}\log(m))\) - applying it to factorize whole number leads to complexity like 
				$$O(\sum_{i=1}^{n-1} \sqrt{p_i} \log(m))$$
			, where \(p_i\) denotes subsequent prime factors of \(m\) from smallest to largest. Notice, that this method won't produce anything useful if one will try to factorize a prime number - because in this case, \(gcd(w_a-w_b, m)=m\) for two elements of a cycle. This leads to necessity of employing primarility test when using this method.</li>
		</ol>
		{{ algo.neo_algorithm(2, 'Pollard-Rho method - factoring one divisor out', '
		One number \(m\) - number to factorize, then two optional lines: the one starting with X: polynominal used as function, degree (by default \(x^2+1\)), then subsequent coefficients; then seed in a line starting with Y - value \(w_0\) - by default 3:

		<br>
		\(m\)<br>
		X \(deg\) \(a_{deg}, \dots a_0\)<br>
		Y \(w_0\)<br>
		'
		, '18209', {'input_type':'textarea',
		'color_description':{'standard':'', 'change':'', 'helper2':'', 'crucial':'Either \(m\) or its factor'} }) }}

		
		<h4>Appendix: proof of birthday paradox</h4>
		<p>Thesis: if a sequence of numbers is given, \(s_1, \dots s_k\), each \(s_i \in \{0, \dots p-1\}\), then the probability it has two equal elements is greater than \(\frac{1}{2}\) for \(k=O(\sqrt{p})\).</p>
		<p>Proof:</p>
		<ol>
			{% set lc= '\\lceil \\sqrt{p} \\rceil' %}
			<li>Take two sequences \(s=(s_1, \dots s_{\lceil \sqrt{p} \rceil})\) and \(t=(t_1, \dots t_{\lceil \sqrt{p} \rceil})\) consisting of random elements from uniform distribution from set \(\{1,\dots,p-1\}\).</li>
			<li>With some probability there are two equal elements in \(s\), and two equal elements in \(t\) - proof will show, that if there are no two equal elements in \(s\) and no two equal elements in \(t\), then probability, that in \(t\) there is an element equal to some element from \(s\) is greater than \(\frac{1}{2}\). If this condition is not satisfied, there are already two equal elements in sequence of size \(2\lceil \sqrt{p} \rceil\) (that is, concatenation of \(s\) and \(t\)).</li>
			<li>For each element \(t_i \in t\) probability, that there is no equal element in \(s\) is \(\frac{p-\lceil \sqrt{p} \rceil}{p}\) - because there are \(p-{{lc}}\) elements not belonging to \(s\) out of set \(\{0, 1, \dots, p-1\}\) of \(p\) elements.</li>
			<li>There are \( {{lc}} \) elements in \(t\). Thus, probability, that in sequence \(t\) there is no element equal to element from \(s\), is 
				$$ \Biggl( \frac{p-{{lc}} }{p} \Biggr)^{ {{lc}} } = \Biggl( 1 - \frac{ {{lc}} }{p} \Biggr)^{ {{lc}} } \le \Biggl( 1 - \frac{1}{\sqrt{p}} \Biggr)^{ \sqrt{p} } $$
				Which tends to \(e^{-1}\) as \(p\) approaches infinity, which is lower than \(\frac{1}{2}\).
			</li>
		</ol>


		<h2>Summary</h2>
		<ol>
			<li>Most standard test checking, whether a number is prime - <strong>Fermat test</strong> - relies on checking, whether \(b^{m-1} \equiv 1 \pmod m\) - if, for some base \(b\), it is not true, then \(m\) is composite. If there is one Fermat witness, there are at least \(\frac{m}{2}\) Fermat witnesses modulo \(m\). A number that has no Fermat witnesses is called <strong>Carmichael number</strong>.</li>
			<li>Carmichael numbers are odd, have at least 3 prime divisors, and are square free. One can use <strong>Korselt's Criterion</strong> to check, whether \(m\) is a Carmichael number: if and only if \(\forall_{p: p|m} p-1 | m-1\) for prime \(p\).</li>
			<li><strong>Miller-Rabin test</strong> does exactly same thing as Fermat test - and additionaly checks, whether there is some \(s: 2^s|(m-1)\) for which \(b^{(m-1)/2^s} \not \equiv \pm 1 \pmod m \land b^{(m-1)/2^{s-1}} \equiv 1 \pmod m\) - if so, then \(m\) is not a prime. In contrast to Fermat test, no less than \(\frac{m-1}{2}\) bases are Miller-Rabin witnesses.</li>
			<li>Miller-Rabin test runs in something like \(O(log^2(m)\log \log (m))\) (or \(O(log(m))\), if one assumes, that multiplication occurs in \(O(1)\)).</li>
			<li>For numbers having at most 64 bits, checking primes up to 37 as bases is enough to determine, whether given number is prime.</li>

			<li>Pollard-Rho method allows to factorize a number with complexity on average \(O(m^{1/4})\)</li>
			<li>Pollard-Rho method relies on finding a cycle in a sequence \((w_0, f(w_0), f(f(w_0)), \dots)\) taken \(\pmod d\), where \(d|m\). Gcd between difference of two equivalent elements and \(m\) yields a number greater than one - factor of \(m\).</li>
			<li>Sometimes, Pollard-Rho may return \(m\) as a factor - then, this algorithm shall be ran either with different seed (\(w_0\)) or different function \(f\).</li>
			<li>Running Pollard-Rho on a prime number will always factor out \(m\) - in other words, running Pollard-Rho on a prime number won't yield any factor. It may be wise to use Pollard-Rho along with primarility testing algorithm.</li>
		</ol>
		<h3>Problems</h3>
		<p>
		Those ideas are useful, when one has to find, whether some large number is prime, or one has to find a factorization of large number. Examples are:</p>
		<ol>
			<li><a href="https://codeforces.com/problemset/problem/1468/L">Prime Divisors Selection</a></li>
			<li><a href="https://codeforces.com/problemset/problem/1016/G">Appropriate Team</a></li>
			<li><a href="https://codeforces.com/problemset/problem/1091/G">New Year and the Factorisation Collaboration</a></li>
		</ol>

		<div id="problems"></div>
		<button class="sender" id="taskButton" name="next" type="submit" formmethod="post" form="page" value="taskAdder" style="display:none;">Add Problem</button>
		<script src="{{url_for('static', filename='Aprimes.js')}}"></script>
		<form id="page" style="display:none"></form>
		{{ footers.full_lower() }}
	</body>
</html>
