<!DOCTYPE html>
{% import 'headers.html' as headers %}

<html lang="en">
	<head>
		<title>Binary Exponentation</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
		<script src="{{url_for('static', filename='Temp.js')}}"></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>
	<body>
		{{ headers.header('Binary Exponentation', 'NumberTheory') }}

		<h3>First problem statement</h3>
		<p>
			Suppose You have three numbers: \(0 &lt; a, b, m &le; 10^9+7\), and are asked to find \(x: a^b \equiv x (mod\ m)\). To solve this problem with algorithm different than brute force (multiply \(a\ b\) times modulo \(m\) - complexity \(O(b)\) - it can be assumed, that multiplication modulo \(m\) works in \(O(1)\)), one can use binary exponentation.
		</p>
		<h3>Solution</h3>
		<p>
		\(a^b\) can be shown as: 
		<span class="central">\(a^b=a^{2 \lfloor \frac{b}{2} \rfloor +b\ mod\ 2}=a^{2 \lfloor \frac{b}{2} \rfloor } *a^{b\ mod\ 2} = (a^2)^{\lfloor \frac{b}{2} \rfloor } *a^{b\ mod\ 2}\)</span>
		And so, \(a^b\ mod\ m=(((a^2)^{\lfloor \frac{b}{2} \rfloor}\ mod\ m)*(a^{b\ mod\ 2}\ mod\ m))\ mod\ m\). Value of \(b\ mod\ 2\) is either \(0\) or \(1\) - and so, calculating \(a^{b\ mod\ 2}\ mod\ m\) takes \(O(1)\) time complexity. Calculating \(a^2\ mod\ m\) also takes \(O(1)\) time complexity, and repeating calculations recursively until \(b &gt; 0\) takes at most \(log_2(b)\) iterations. Overall complexity of the algorithm is therefore \(O(log(b))\). One can keep result \(res=1\) at the beginning of the algorithm and update values in each iteration:
		<span class="central">1) \(res=res*a^{b\ mod\ 2}\ mod\ m\)</span>
		<span class="central">2) \(b=\lfloor \frac{b}{2} \rfloor\)</span>
		<span class="central">3) \(a=(a*a)\ mod\ m\)</span>
		Until \(b &gt; 0\) - this makes process iterative.
		</p>



		<div id="Algo1">
			<h2>Binary Exponentation</h2>
			<p>Input format: three numbers \(a, b, m\), such that \(x=a^b \pmod m\) has to be found.<br>
			\(a, b, m\)
			</p>

			<div id="Inputter">
				<form>
					<input value="17 43 107" class="inputter" id="Crt" name="Crt">
				</form>
				<button id="Sender" class="sender">Begin</button>
				<button id="Prever" class="previous">Previous Move</button>
				<button id="Nexter" class="next">Next Move</button>
				<button id="Finisher" class="finish">Finish</button>
			</div>
			<div class="breakAlgo"></div>
			<div id="Primez" class="primez"></div>
			<div id="Comprehend" class="comprehend"></div>
		</div>
		
		<p>This animation shows, why method is called binary exponentation: if \(b\) is shown as \(b=2^{i_1}+2^{i_2}+...+2^{i_k}\), where \(\forall_{w,v} i_w \neq i_v\), then \(res=a^{2^{i_1}}*a^{2^{i_2}}*...*a^{2^{i_k}}\).
		<h3>Further analysis</h3>
		<p>
			The method above also allows multiplication modulo \(m\), but \(res=0\) on the beginning - for \(0\) is neutral element of addition. One can utilize this method to raise matrices to power, because matrix multiplication is associative (i.e \((A*B)*C=A*(B*C)\)). This allows raising square matrices to \(k\)-th power within \(O(n^3log(k))\) time complexity, where \(n\) is matrix size.
		</p>
		<h3>Finding \(n\)-th value of a recursive sequence</h3>
		<p>
			Suppose a recursive sequence is given in form: 
			<span class="central">\(f_n=c_1f_{n-1}+c_2f_{n-2}+...+c_kf_{n-k}+c_0\)</span>
			And thine purpose is to find \(f_n\ mod\ m\), \(f_i, c_i, m, n &lt; 10^9, k &lt; 100\), where \(c_i, f_i\) for \(i &le; k\) are given.
			Standard brute-force dp solution would solve this problem in \(O(nk)\). But, there is certain property of recursive sequences, that can be utilized. Namely:
			<span class="central">
			$$
			\begin{bmatrix}
				c_1 & c_2 & c_3 & \cdots & c_{k-1} & c_k & c_0\\
				1 & 0 & 0 & \cdots & 0 & 0 & 0\\
				0 & 1 & 0 & \cdots & 0 & 0 & 0\\
				0 & 0 & 1 & \cdots & 0 & 0 & 0\\
				\vdots & \vdots & \vdots & \ddots & \vdots & \vdots & \vdots\\
				0 & 0 & 0 & \cdots & 1 & 0 & 0\\
				0 & 0 & 0 & \cdots & 0 & 0 & 1\\
			\end{bmatrix}	
			\begin{bmatrix}
			f_{n-1} \\ f_{n-2} \\ f_{n-3} \\ f_{n-4} \\ \vdots \\  f_{n-k} \\ 1\\
			\end{bmatrix}
			=
			\begin{bmatrix}
			c_1f_{n-1}+c_2f_{n-2}+..+c_kf_{n-k}+c_0*1 \\
			1f_{n-1}+0f_{n-2}+...+0f_{n-k}+0*1 \\
			0f_{n-1}+1f_{n-2}+...+0f_{n-k}+0*1 \\
			0f_{n-1}+...+1f_{n-3}+...+0f_{n-k}+0*1 \\
			\vdots \\
			0f_{n-1}+...+1f_{n-k+1}+0f_{n-k}+0*1 \\
			0f_{n-1}+0f_{n-2}+...+0f_{n-k}+1*1\\
			\end{bmatrix}
			=
			\begin{bmatrix}
			f_n \\
			f_{n-1} \\ f_{n-2} \\ f_{n-3} \\ \vdots \\  f_{n-k+1} \\ 1\\
			\end{bmatrix}
			$$
			</span>
			So, such matrix as above transforms vector having \(k\) subsequent elements ending on \(n\) to vector having \(k\) subsequent elements ending on \(n+1\). What follows, multiplying vector by such matrix \(v\) times would result in a vector ending on \(n+v\).
			<span class="central">
			$$
			\begin{bmatrix}
				c_1 & c_2 & c_3 & \cdots & c_{k-1} & c_k & c_0\\
				1 & 0 & 0 & \cdots & 0 & 0 & 0\\
				0 & 1 & 0 & \cdots & 0 & 0 & 0\\
				0 & 0 & 1 & \cdots & 0 & 0 & 0\\
				\vdots & \vdots & \vdots & \ddots & \vdots & \vdots & \vdots\\
				0 & 0 & 0 & \cdots & 1 & 0 & 0\\
				0 & 0 & 0 & \cdots & 0 & 0 & 1\\
			\end{bmatrix}^v
			\begin{bmatrix}
			f_n \\ f_{n-1} \\ f_{n-2} \\ f_{n-3} \\ \vdots \\  f_{n-k+1} \\ 1\\
			\end{bmatrix}
			=
			\begin{bmatrix}
			f_{n+v} \\
			f_{n+v-1} \\ f_{n+v-2} \\ f_{n+v-3} \\ \vdots \\  f_{n+v-k+1} \\ 1\\
			\end{bmatrix}
			$$
			</span>
			And so, this allows computing value of a recursive sequence in \(O(k^3log(n))\). Notably, one can use this trick also to solve recurrences using index of a sequence, power of some value, and so on as long as one can find transformation matrix from a vector to next vector of elements; sometimes one can logarithm a sequence to obtain feasible sequence.
		</p>

		<h3>Problems</h3>
		<p>Problems involving binary exponentation can be found literally everywhere, most interesting ones usually involve sequence trick or number of paths in a graph of certain length.<br>
		<a href="https://codeforces.com/problemset/problem/226/C">Anniversary</a>, 
		<a href="https://codeforces.com/problemset/problem/1182/E">Product Oriented Recurrence</a>, 
		<a href="https://codeforces.com/problemset/problem/551/D">GukiZ and Binary Operations</a>, 
		
		</p>
		<div id="problems"></div>
		<button class="sender" id="taskButton" name="next" type="submit" formmethod="post" form="page" value="taskAdder" style="display:none;">Add Problem</button>


		<script src="{{url_for('static', filename='BinaryExpo.js')}}"></script>
		<form id="page" style="display:none"></form>
	</body>
</html>
