<!DOCTYPE html>
{% import 'headers.html' as headers %}
{% import 'footers.html' as footers %}
{% import 'algo.html' as algo %}

<html lang="en">
	<head>
		<title>Chinese Remainder Theorem</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
		<script src="{{url_for('static', filename='Temp.js')}}"></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		{{ headers.full_upper('Chinese Remainder Theorem', 'NumberTheory') }}

		<h2>Introduction</h2>
		<p>In some problems one needs to find \(x\) solving equations in form \(x \equiv c_i \pmod{s_i}\). Solution to a special case of such equation, where all \(s_i\) are pairwise coprime is described by Chinese Remainder Theorem.</p>
		<h2>Problem I - system of equations</h2>
		<p id="Theory">
			Suppose \(m\) \((m \le 10^6)\) equalities are given in form: <br>
			<span class="central">
			\(
			m\text{ equations}
			\begin{cases}
			{% for x in [1,2] %}
				x \equiv c_{{x}}\ (mod\ s_{{x}}) \\
			{% endfor %}
				... \\
				x \equiv c_m\ (mod\ s_m) \\
			\end{cases}
			\)
			</span>
			where \(0 \le c_i \lt s_i \le 10^9 \land lcm(s_1, s_2, \dots, s_m) \le 10^{18}\) The problem is: find \(x\) satisfying these equations
		</p>
		<h3>The reasonable solution in \(O(m\log(\max(s_i)))\)</h3>
		<h4>The first thesis</h4>
		<p id="Solution">
			If it is possible to show equivalent equation for two different equations, then one can reduce number of equations by one:<br>
			<span class="central">\(x \equiv c_{1,2}\ (mod\ s_{1,2}) \iff 
				\begin{cases}
				x \equiv c_1\ (mod\ s_1) \\
				x \equiv c_2\ (mod\ s_2)\\
				\end{cases}
			\)
			</span>
			And, after reduction:<br><br>
			<span class="central">
			\(
			m-1\text{ equations}
			\begin{cases}
				x \equiv c_{1,2}\ (mod\ s_{1,2}) \\
				x \equiv c_3\ (mod\ s_3) \\
				... \\
				x \equiv c_m\ (mod\ s_m) \\
			\end{cases}
			\)
			</span>
			What follows, if one can solve pair of equations in \(O(\text{whatever})\), then one can solve whole problem in \(O(\text{whatever}*m)\)
		</p>
		<h4>The second thesis</h4>
		<p>
			One can rewrite <br>
			<span class="central">\(
				\begin{cases}
				x \equiv c_1\ (mod\ s_1) \\
				x \equiv c_2\ (mod\ s_2)\\
				\end{cases}
			\)
			</span>
			to<br>
			<span class="central">\(
				\begin{cases}
				x = s_1a+c_1 \\
				x = s_2b+c_2\\
				\end{cases}
			\)
			</span>
			for certain integers \(a,\ b\). What follows, <br>
			<span class="central">\(s_1a+c_1 = s_2b+c_2\)</span>
			<span class="central">\(s_1a-s_2b=c_2-c_1\)</span><br>
			One can solve equation \(s_1k+s_2l=gcd(s_1, s_2)\) in \(O(\log(\min(s_1, s_2)))\) using extended euclid; If \(gcd(s_1,s_2) \nmid (c_2-c_1)\), then one can go out and solve different problems, for there are no integer solutions: <br>
			<span class="central">\(s_1a-s_2b=c_2-c_1\)</span>
			<span class="central">\(gcd(s_1,s_2)|(s_1a-s_2b)\)</span>
			<span class="central">\(gcd(s_1,s_2) \nmid (c2-c1)\)</span>
			However, if \(gcd(s_1,s_2)|(c_2-c_1)\), then:<br><br>
			<span class="central">\(s_1k+s_2l = gcd(s_1,s_2)\ \ \ /*\frac{c_2-c_1}{gcd(s_1,s_2)}\)</span>
			<span class="central">\(s_1k*\frac{c_2-c_1}{gcd(s_1,s_2)}+s_2l*\frac{c_2-c_1}{gcd(s_1,s_2)} = c_2-c_1\)</span><br>
			And so, \(a=k\frac{c_2-c_1}{gcd(s_1,s_2)},\ b=-l\frac{c_2-c_1}{gcd(s_1,s_2)}\). Now,
			<span class="central">\(x = s_1a+c_1 = s_1k\frac{c_2-c_1}{gcd(s_1,s_2)}+c_1\)</span><br>
			It answers problem for two equations, but to solve problem for more equations, one needs to find \(c_{1,2}\) and \(s_{1,2}\), such that \(x\) solves both equations if and only if:<br>
			<span class="central">\(x \equiv c_{1,2}\ (mod\ s_{1,2})\)</span><br>
		</p>
		<h4>The third thesis</h4>
		<p>
			What can be said about further solution to a system of equations?
			<span class="central">\(
				\begin{cases}
				x \equiv c_1\ (mod\ s_1) \\
				x \equiv c_2\ (mod\ s_2)\\
				\end{cases}
			\)</span><br>
			Clearly, if by \(x+v\) one denotes next solution (so \(|v|\) is minimal possible), then: 
			<span class="central">\(
				\begin{cases}
					x+v \equiv c_1\ (mod\ s_1) \\
					x+v \equiv c_2\ (mod\ s_2)\\
				\end{cases}
				\implies
				\begin{cases}
					v \equiv 0\ (mod\ s_1) \\
					v \equiv 0\ (mod\ s_2)\\
				\end{cases}
				\implies
				\begin{cases}
					v|s_1 \\
					v|s_2 \\
				\end{cases}
			\)</span><br>
		And so, \(|v|=lcm(s_1, s_2)=\frac{s_1s_2}{gcd(s_1,s_2)}\), which finishes problem, if \(s_{1,2}=lcm(s_1,s_2)\) and \(c_{1,2}=s_1k\frac{c_2-c_1}{gcd(s_1,s_2)}+c_1\) from second paragraph. That solves whole problem in \(O(m\log(\max(s_i)))\)
		</p>

		{{ algo.algorithm(1, 'System of congruence equations', '
			<p>Input format: \(n\) is number of equalities, then follows \(n\) pairs \(c_i, s_i\) such that equation is \(x \equiv c_i \pmod {s_i}\).<br>
			\(n\)<br>
			\(c_1, s_1\)<br>
			\(\dots\)<br>
			\(c_n, s_n\)
			</p>
		'
		, '3&#10;2 3&#10;5 7&#10;8 33', 'textarea') }}

		<h3>The Chinese Remainder Theorem-in-itself</h3>
		<p>
		Chinese Remainder Theorem states, that if all \(s_i\) are pairwise coprime, then solution exists and is unique \(mod\ \prod_{i=1}^{m}s_i\). Using method described above, the theory can be proven with following lemmas:<br>
		</p>
		<ol>
			<li>From Euclid's lemma, \(p|ab \implies p|a \lor p|b\). What follows, \(p \nmid a \land p \nmid b \implies p \nmid ab\)</li>
			<li>What follows, \(gcd(a, c)=1 \land gcd(b, c)=1 \implies gcd(ab, c)=1\), because no prime dividing \(c\) divides \(ab\).</li>
			<li>After merging two equations into one using method described above, \(s_{x,y}=s_xs_y\). From lemma above, after adding new equation all \(s_z\) will be still pairwise distinct. By induction, after each step of the algorithm all \(s_x\) will be pairwise coprime, thus \(gcd(s_x, s_y)=1\) and \(lcm(s_x,s_y)=s_xs_y\) at any point of the algorithm between any two equations, thus, a merge of two equations will result in an equation with exactly one solution \(\pmod {s_xs_y}\). Merging all equations leads to equation with exactly one solution \(\pmod {\prod_{i=1}^m s_i}\) which finishes the proof.</li>
		</ol>


		<div>
			<h2>Summary</h2>
			<ol>
				<li>System of \(m\) congruential equations in form \(x \equiv c_i \pmod {s_i}\) can be solved in \(O(m\log(\max(s_i)))\)</li>
				<li>Worth noting consequence of Euclid's lemma: \(gcd(a, c)=1 \land gcd(b, c)=1 \implies gcd(ab, c)=1\).</li>
				<li><b>Chimese Remainder Theorem</b> states, that if all \(s_i\) are distinct, then there is exactly one solution \(\pmod {\prod s_i}\)</li>
			</ol>

			<h3>Problems</h3>
			<p>
				Problems involving linear congruence equation are rare, though often refined. CRT is useful as a theorem, for example to show certain properties of totient function. Example problems are:<br>
			<a href="https://codeforces.com/problemset/problem/338/D">GCD Table</a>, 
			<a href="https://codeforces.com/problemset/problem/982/E">Billiard</a>,
			<a href="https://codeforces.com/problemset/problem/710/D">Two Arithmetic Progressions</a>
			</p>
		</div>
		<div id="problems"></div>
		<button class="sender" id="taskButton" name="next" type="submit" formmethod="post" form="page" value="taskAdder" style="display:none;">Add Problem</button>

		<form id="page" style="display:none"></form>
		<script src="{{url_for('static', filename='Crt.js')}}"></script>
		{{ footers.full_lower() }}
	</body>
</html>
