<!DOCTYPE html>
{% import 'headers.html' as headers %}

<html lang="en">
	<head>
		<title>Discrete Logarithm and Root</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
		<script src="{{url_for('static', filename='Temp.js')}}"></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		{{ headers.header('Discrete Logarithm and Root', 'NumberTheory') }}
	</body>
</html>
