<!DOCTYPE html>
{% import 'headers.html' as headers %}

<html lang="en">
	<head>
		<title>Discrete Logarithm</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
		<script src="{{url_for('static', filename='Temp.js')}}"></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		{{ headers.header('Discrete Logarithm', 'NumberTheory') }}
		<h3>First problem statement and definitions</h3>
		<p>Suppose You are given numbers \(1 \le a, b, m \le 10^{10}\) and thine aim is to find such \(x\) such that \(a^c \equiv b \pmod m\)

		</p>


	</body>
</html>
