<!DOCTYPE html>
{% import 'headers.html' as headers %}
{% import 'footers.html' as footers %}
{% import 'algo.html' as algo %}

<html lang="en">
	<head>
		<title>Greatest Common Divisor</title>
		{{ headers.meta() }}
	</head>
	<body>
		{{ headers.full_upper('Greatest Common Divisor', 'NumberTheory') }}
		<h2>Introduction</h2>
		<p>While simplest problems from number theory usually involve sieves, it seems easier to start describing number theory from the notion of greatest common divisor. How to calculate it rapidly for large numbers? How to find \(p,q\) solving equations in form \(px+qy=g\) for given \(x,y,g\)? To answer those question, several definitions and notational nuissances shall be formulated (unless stated otherwise, all statements in this and next articles concern integers):
		<ol>
			<li><b>Divisor</b> An integer \(d\) is a divisor of an integer \(x\) (which is often denoted by \(d|x\)), if and only if:<br>
				$$ d|x \iff \exists_{k \in Z}dk=x $$
				If \(d|x\), then \(x\) is divisible by \(d\).<br>
			</li>
			<li><b>Greatest common divisor (gcd)</b>: An integer \(g \in N^+\) is gcd of integers \(w, v\) if and only if:<br>
				$$ g=gcd(w, v) \iff g|w \land g|v \land !\exists_h (h|w \land h|v \land h \gt g) $$
				In other words, if \(g\)=\(gcd(w, v)\), then \(g\) divides \(w\) and \(v\), and there is no greater integer \(h\) that divides both \(w\) and \(v\).<br>
			</li>
			<li><b>Least common multiple (lcm)</b>: An integer \(l \in N^+\) is lcm of integers \(w, v\) if and only if:<br>
				$$ l=lcm(w, v) \iff w|l \land v|l \land !\exists_h (w|h \land v|h \land h \lt l) $$
			</li>
			<li><b>Remainder from dividing</b> integer \(x\) by integer \(m \in N^+\), denoted later by \(x\%m\), is equal to:<br>
				$$ m \gt x\%m=x-\lfloor \frac{x}{m} \rfloor m \ge 0 $$
			</li>
			<li><b>Two integers \(a\), \(b\) are equivalent modulo m</b>, if:<br>
				$$ a \equiv b \pmod m \iff \exists_{k \in Z} a-km=b $$
				It's worth noting, that \(x \equiv x\%m \pmod m\).<br>
			</li>
		</ol>
		<p>One crucial thing: it is assumed, that multiplication and addition occurs in \(O(1)\) unless stated otherwise (spurious assumption, but nonetheless an acceptable one given usually small constraints in number theory problems).</p>

		<h2>Problem I: finding \(gcd(w,v)\)</h2>
		<p>Let's say \(q (q \le 10^6)\) queries are given: what is the greatest common divisor of integers \(w\) and \(v\) where \(1 \le w, v \le n=10^{18}\)? First solution not being absolute brute force (checking all integers \(x \in \{ 2, 3, \dots \min(w,v)\}\) whether they're gcd - works in \(O(q*\min(w,v))\)) is discussed below:</p>
		<h3>Solution I: using distribution of divisors in \(O(q\sqrt{\min(w,v)})\)</h3>
		<h4>Distribution of all divisors of an integer and their upper estimate</h4>
		<p>If \(d\) is a divisor of \(x\), where \(d,x \ge 1\), then \(d \le \sqrt{x}\) or \( \frac{x}{d} \le \sqrt{x}\); proof by contradiction: if \(d|x\), then there exists such integer \(b\), that \(bd=x\); if \(d \gt \sqrt{x} \) and \(b \gt \sqrt{x}\), then \( db \gt \sqrt{x}\sqrt{x}=x\), which finishes the proof. Furthermore, this shows, that for \(x \ge 1\):
			$$ |\{d:d|x \land d \ge 1\}| \le 2\sqrt{x} $$
		because for each divisor \(d\) there is exactly one divisor \(k\) such that \(dk=x\), and \(d \le \sqrt{x} \lor k \le \sqrt{x}\).
		</p>
		<h4>Solution using distribution</h4>
		<p>
		Without loss of generality, let's assume that \(w \le v\). One can check all positive natural integers \(k \le w\) whether \(k|w\) and \(k|v\), and take largest such integer. To find all divisors \(\{k: k|w\}\) one needs to check only divisors \(k \le \sqrt{w}\), and check, whether \(\frac{w}{k}|v \lor k|v\), and take maximum of those - this solution will work in \(O(q*\sqrt{\min(w,v)})\).
		</p>

		<h3>Viable solution: Euclidean algorithm in \(O(q\log(\min(w,v)))\)</h3>
		<p>
		Let's create arrays \(a_i\) and \(b_i\) such that \(a_1=w\), \(b_1=v\). One can define these arrays for \(i \gt 1\) as \(a_i=b_{i-1}\) and \(b_i=a_{i-1}\%b_{i-1}\). When \(b_i=0\) then \(a_i\) is the solution.

		</p>
		{{ algo.neo_algorithm(1, 'Euclidean Algorithm', '
			<p>Input format: Two natural integers \(w, v\), specifying values, for which \(gcd(w,v)\) has to be calculated.<br>
			\(w, v\)
			</p>
		'
        , '84 35', {'add_on':'checkbox', 'added_elements':['Nothingness', 'Show only table'],
			'color_description':{'standard':'', 'change':'', 'helper2':'', 'crucial':'\(gcd(w, v)\)'}, 
        }) }}

		<h4>Correctness proof</h4>
		<p>
			Thesis: for each \(i,\ gcd(a_i, b_i)\) is equal to gcd(\(w\), \(v\)).<br>
			Proof by induction: For \(i=1\) \(gcd(a_i, b_i)=gcd(w, v)\), because \(a_1=w, b_1=v\). So: \(\exists_i gcd(a_i, b_i)=gcd(w, v)\). To finish proof is to show that for any \(i\) either \(gcd(a_i, b_i)=gcd(a_{i+1}, b_{i+1})\), or \(b_i=0\)<br>
			What can be said about any divisor \(g\) dividing both \(a_i\) and \(b_i\)? If \(a_i\) is shown as \(sb_i +m\), where \(s \in Z\), then:
			
			$$ a_i = gk, b_i = gl$$
			$$ a_i = sb_i+m $$
			$$ a_i-sb_i = gk-sgl=g*(k-sl) = m $$
			and so, any common divisor \(g\) dividing both \(a_i\), \(b_i\) has to divide \(a_i\%b_i\) - and so, \(gcd(a_i, b_i)=gcd(a_i\%b_i, b_i)=gcd(b_i, a_i\%b_i)=gcd(a_{i+1}, b_{i+1})\). If \(b_i\) becomes equal to \(0\), then any integer divides \(0\), and so any integer that is divisor of both \(w\) and \(v\) must divide \(a_i\). The only thing left to do is finding greatest divisor of an integer \(a_i &gt; 0\) - which is equal to \(a_i\), which finishes the proof. Furthermore, it shows, that every divisor of both \(w\) and, \(v\) is also a divisor of \(gcd(w,v)\).
		</p>
		<h4>Complexity proof</h4>
		<p>
			It can be assumed without loss of generality, that \(a_i \gt b_i\) - it is true after first iteration. Furthermore, 
			$$ b_i + a_i\%b_i \lt b_i+b_i=2b_i $$
			To prove that \(\frac{a_i + b_i}{a_{i+1}+b_{i+1}} \ge \frac{3}{2}\) , let's consider two cases: first, when \(a_i \ge 2b_i\), second, when \(2b_i \gt a_i \ge b_i\).

			$$ \text{(1) } \frac{a_i+b_i}{a_{i+1}+b_{i+1}} = \frac{a_i+b_i}{b_i+a_i\%b_i} \gt \frac{a_i+b_i}{2b_i} \ge \frac{2b_i+b_i}{2b_i} = \frac{3b_i}{2b_i} = \frac{3}{2} $$

			$$ \text{(2) } \frac{a_i+b_i}{a_{i+1}+b_{i+1}} = \frac{a_i+b_i}{b_i+a_i\%b_i} = \frac{a_i+b_i}{b_i+a_i-b_i} = \frac{a_i+b_i}{a_i} = 1+\frac{b_i}{a_i} \gt 1+\frac{b_i}{2b_i} = \frac{3b_i}{2b_i} = \frac{3}{2} $$
			And so, maximum number of operations can be bounded by \(O(q*\log(\min(w, v)))\), because sum \(a_i+b_i\) is always greater than 0, after first iteration \(b_2 \lt a_2 \le \min(w,v)\), and after \(k\) iterations sum \(a_{k+1}+b_{k+1}\) becomes lower at least \((\frac{3}{2})^{k-1}\) times than \(a_1+b_1\).
		</p>

		<h4>Modulo operation preserves \(gcd\)</h4>
		<p>While it comes straight from definition, it might be wise to emphasize certain propery of equivalence modulo; namely,
		$$ x \equiv y \pmod m \implies gcd(x, m) = gcd(y, m) $$
		Why? because 
		$$ gcd(x, m) = gcd(x-km, m) = gcd(y, m) $$
		Where \(x-km=y\) for integer \(k\).
		</p>

		<h2>Problem II: finding \(x,y\), for which \(wx+vy=gcd(w,v)\)</h2>
		<p>
		Let's say that sole \(gcd(w,v)\) is not enough: You want to find such integers \(x, y\) that: \(wx+vy=gcd(w,v)\).
		<h3>Solution: Extending euclidean algorithm</h3>
		<p>One can use same mechanism to solve this problem, but also construct sequences \(p, q\), such that for each \(i\) following stands:
			$$p_iw+q_iv=b_i$$
			$$p_1=0, q_1=1 \implies wp_1+vq_1=v=b_1$$
			$$ \text{ for \(i \gt 1\): } b_i = a_{i-1}\%b_{i-1} = a_{i-1}-\lfloor\frac{a_{i-1}}{b_{i-1}}\rfloor b_{i-1}$$
			It is possble to show \(b_{i-1}\) as \(b_{i-1}=p_{i-1}w+q_{i-1}v\). But what with \(a_{i-1}\)? It's equal to \(b_{i-2}\), except when \(i=2\)... unless \(b_0=a_1=w\). Let also, for simplicity, \(z_i=\lfloor \frac{a_i}{b_i} \rfloor\). Then: <br>
			$$ p_0=1, q_0=0 \implies wp_0+vq_0=w=b_0 $$
			$$ \text{for \(i \gt 1\): } b_{i+1} = a_i - \lfloor \frac{a_i}{b_i} \rfloor b_i = p_{i-1}w + q_{i-1}v - z_i(p_iw + q_iv)= w(p_{i-1} - z_ip_i)+ v(q_{i-1} - z_iq_i) $$
			And so, \(p_{i+1}=p_{i-1}-z_ip_i\) and \(q_{i+1}=q_{i-1}-z_iq_i\). The existence of solution to this equation is called bezout's identity.
		</p>
		{{ algo.neo_algorithm(2, 'Extended Euclidean Algorithm', '
			<p>Input format: Two positive integers \(w, v\), specifying values, for which extended euclid algorithm will be run.<br>
			\(w, v\)
			</p>
		'
        , '84 35', {'add_on':'checkbox', 'added_elements':['Nothingness', 'Show only table'],
			'color_description':{'standard':'', 'change':'', 'helper1':'', 'helper2':'', 'crucial':'\(gcd(w, v)\)', 'iterator':'\(q\) and \(v\), for which \(wp+vq=gcd(w,v)\)', 'exponent':'\(p\) and \(w\), for which \(wp+vq = gcd(w, v)\)'}, 
            }) }}

			<h4>Proof concerning Extended Euclid overflow - estimation of \(p_i, q_i\)</h4>
			<p>Die-hard utilitarist may notice, that \(p_i, q_i\) may overflow regardless of value of \(gcd(w,v)\) - this concern will be addressed below.</p>
			<p>First, one can see, that \(sgn(p_i) \neq sgn(p_{i+1})\) and \(sgn(q_i) \neq sgn(q_{i+1})\) - it is because:</p>
			<ol>
				<li>\(p_0=1, p_1=0\), also \(q_0=0, q_1=1\) - as inductive step is exactly same for \(p\) and \(q\), it'll be shown only for \(p\)</li>
				<li>Proving lemma by induction, \(p_i=p_{i-2}-zp_{i-1}\) - \(z\) is positive (as it is equal to \(\lfloor \frac{b_{i-2}}{b_{i-1}} \rfloor\)) - so it does not change sign of \(p_{i-1}\), and as \(sgn(p_{i-1}) \neq sgn(p_{i-2})\), then:
					<ul>
						<li>If \(p_{i-2}\) is \(0\) - then \(p_{i-1}\) cannot be \(0\), and \(-zp_{i-1}\) have different sign than \(p_{i-1}\), so \(sgn(p_i)=sgn(-p_{i-1}) \neq 0\), which implies \(sgn(p_i) \neq sgn(p_{i-1})\)</li>
						<li>If \(p_{i-2}\) is not zero, then \(-zp_{i-1}\) either is equal to \(0\) - or \(-zp_{i-1}\) have same sign as \(p_{i-2}\), in both cases, \(sgn(p_{i-2})=sgn(p_i) \neq sgn(p_{i-1})\)</li>
					</ul>
				</li>
			</ol>
			{% set z="\\lfloor \\frac{b_{i-1}}{b_i} \\rfloor " %}
			{% set z2="\\lfloor \\frac{b_{i-2}}{b_{i-1}} \\rfloor " %}
			<p>One can also notice, that \(|p_{i-1}b_i-p_ib_{i-1}|=v\), and also \(|q_{i-1}b_i-q_ib_{i-1}|=w\) - proof is same for both, so inductive step will be shown only for \(p_i\)</p>
			<ol>
				<li>\(|p_0b_1-p_1b_0|=|b_1-0|=v\), also \(|q_0b_1-q_1b_0|=|0-b_0|=w\)</li>
				<li>\(|p_ib_{i+1}-p_{i+1}b_i|=|p_i(b_{i-1}-{{z}} b_i)-(p_{i-1}-{{z}} p_i)b_i|=|p_ib_{i-1}-{{z}} p_ib_i-p_{i-1}b_i+{{z}} p_ib_i|=|p_{i-1}b_i-p_ib_{i-1}|=v\)</li>
			</ol>
			<p>These two lemmas show, that:</p>
			<ol>
				<li>Values of \(|p_i|, |q_i|\) for \(i \ge 3\) are not decreasing, as \(|p_i|=|p_{i-2}-{{z2}}p_{i-1}|=|p_{i-2}|+|{{z2}}p_{i-1}| \ge |p_{i-2}|+|p_{i-1}|\) and since \(i=3\) occurs \(a_{i-1}=b_{i-2} \ge b_{i-1}\)</li>
				<li>In the last (\(k\)-th) iteration of the algorithm, \(b_k=0, b_{k-1}=gcd(w, v)\) - and so \(v=|p_{k-1}b_k-p_kb_{k-1}|=|p_kgcd(w, v)|\), and \(|p_k|=\frac{v}{gcd(v, w)}\). Also, \(w=|q_{k-1}b_k-q_kb_{k-1}|=|q_kgcd(w, v)|\) - and so, \(|q_k|=\frac{w}{gcd(w,v)}\)</li>
			</ol>
			<p>This shows, tha always \(|p_i| \le \frac{v}{gcd(v,w)}\) and \(|q_i| \le \frac{w}{gcd(v,w)}\), which gives upper estimate on sizes of \(p_i, q_i\).


		<h3>Proof I - Solution with different \(g\)</h3>
		<p id="FinishingTouches1">
			There are two important questions concerning extended gcd: firstly, whether is there any positive natural \(h \lt gcd(w,v)=g\) for which there exist integers \(x, y\) such that \(wx+vy=h\)? One can prove the opposite by contradiction: <br>
				$$ wx+vy=h $$
				$$ gkx+gly=h $$
				$$ g(kx+ly)=h $$
			So, \(h\) must simultaneously satisfy: \(g|h\) and \(g \gt h \gt 0\). It is impossible, which finishes the proof. Furthermore, it shows, that for any \(x, y\) occurs \(gcd(w,v)|wx+vy\)
		</p>
		<h3>Proof II - different \(p, q\) and the notion of \(lcm\)</h3>
		<p>
			Secondly, how many there are solutions \(x, y\), satisfying equation \(wx+vy=g\)?
				$$ wx+vy=g $$
				$$ w(x+r_1)+v(y+r_2)=g $$
				$$ wx+wr_1+vy+vr_2=g $$
				$$ wr_1+vr_2=0 $$
				$$ wr_1=-vr_2 $$
				And so, there is infinite amount of possible solutions; it is obvious, if \(r_2=kw\), \(r_1=-kv\) for any integer \(k\). But how to attain minimal next solution, i.e. \(s=|r_1w|\) is minimal for given \(r_1\)? Certainly:</p>
			<ol>
				<li>\(w|s, v|s\) - it comes from last equation and fact, that \(r_1\) has to be integer - because by definition \(x+r_1\) is integer.</li>
				<li>\(s &gt; 0\) - otherwise \(r_1=0\) and so, next solution is still unknown.</li>
				<li>\(s\) is minimal.</li>
			</ol>
			<p>
			In other words, \(s\) is least common multiple of \(w\) and \(v\) - or \(s=lcm(w, v)\).
		</p>

		<p>One can show, that \(lcm(v, w)|vw\). By contradiction, suppose it is not true. What can be said about \(f=gcd(lcm(v,w), vw)\)?</p>
		<ol>
			<li>\(f \le lcm(v,w)\) - divisor of \(x\) must be lower or equal to \(x\) (if \(x\) is positive).</li>
			<li>As \(v|lcm(v,w) \land w|lcm(v,w) \land w|wv \land v|wv\) , then, from \(gcd\) properties, \(v|f \land w|f\)</li>
		</ol>
		<p>So, if \(lcm(v, w) \nmid vw\), then \(gcd(lcm(v, w), vw)|vw\), it's divisible by both \(v, w\), and lower than \(lcm(v,w)\) - but it contradicts statement, that \(lcm(w, v)\) is lowest common mutiple of \(w, v\) - what follows, \(lcm(v,w)|vw\)</p>
		<p>
		If \(s\) is shown as \(s=\frac{wv}{c}\), what can be said about \(c\)?</p>
			<ol>
				<li>\(w|s \implies w|w\frac{v}{c} \implies c|v\)</li>
				<li>\(v|s \implies v|v\frac{w}{c} \implies c|w\)</li>
				<li>In order to minimize \(s=\frac{wv}{c}\), \(c\) has to be maximal possible.</li>
			</ol>
			<p>And maximal number \(c\) dividing both \(w\) and \(v\) is \(c=gcd(v, w)\). So, \(s=|rw|=lcm(w, v)=\frac{wv}{gcd(w, v)}\). What follows, \(|r_1|=\frac{v}{gcd(w,v)}\) and \(|r_2|=\frac{w}{gcd(w,v)}\).
		</p>

		<h2>Problem III: Linear congruence equation \(ax \equiv c \pmod m\)</h2>
		<p>Suppose you have to find all solutions \(x\) satisfying: \(ax \equiv c \pmod m\) for given \(1 \le a, c, m \le 10^9\)</p>
		<h3>Solution</h3>
		<p>
		One can show the problem as:
		$$ \exists_{y \in Z} ax+my=c $$
		From Bezout's identity consequences, \(gcd(a, m)|c\) - otherwise, there are no solutions. If there are solutions however, then, from extended Euclidean algorithm, one can find such \(p, q \in Z\), such that:
		$$ ap+mq=gcd(a, m)\ \ \  /// *\frac{c}{gcd(a, m)} $$
		$$ ap\frac{c}{gcd(a, m)}+mq\frac{c}{gcd(a, m)}=c $$
		and so, \(x=p\frac{c}{gcd(a, m)}\) solves this equation. The question arises, however: what are next solutions? if \(x\) solves this equation, for what \(r\): \(x+r\) solves this equation?
		<span class="central">\(a(x+r) \equiv c \pmod m\)<br>
			\(ar \equiv c-ax \equiv 0 \pmod m\)<br>
			\(ar=km\)</span>
		What follows, \(s=|ar|\) is minimal such integer, such that \(m|s \land a|s\) - then, \(|ar|=lcm(a, m)\), and so, \(r=\frac{lcm(a, m)}{a}\). Therefore, all solutions have form \(\frac{pc}{gcd(a, m)}+k\frac{lcm(a, m)}{a}\) for some integer \(k\).
		</p>

		<h4>The notion of modular inverse</h4>
		<p>
		An integer \(p\) is called a <b>modular multiplicative inverse</b> of \(a\) modulo \(m\) (where \(gcd(a, m)=1\)), if
		<span class="central">\(\exists_{q \in Z} ap+mq=1\)</span>
		Such integer \(p\) always exists - this is a consequence of extended Euclidean algorithm. One may note, that all modular inverses of \(a\) have same remainder from division by \(m\) - this comes from lemma above, as \(gcd(a, m)=1\) - and so, only integers in form \(p+km\) can satisfy this equation for some \(k \in Z\). The name comes from fact, that:
		<span class="central">\(ap \equiv 1 \pmod m\)</span>
		Number \(p\) is often denoted as \(a^{-1}\).
		</p>


		<h2>Summary</h2>
		<ol>
			<li>\((d|x \land d \ge 1 \land x \ge 1) \implies (d \le \sqrt{x} \lor \frac{x}{d} \le \sqrt{x})\). Also, \(|\{d: d|x \land d \ge 1 \land x \ge 1\}| \le 2\sqrt{x}\)</li>
			<li>\(gcd(w, v)\) can be calculated in \(O(\log(\min(v,w)))\) with <b>Euclidean algortithm</b>, using fact, that \(gcd(w, v)=gcd(w\%v, v)\).</li>
			<li>One can find pair \((x, y)\) solving equation \(wx+vy=gcd(w,v)\) also called <b>bezout's identity</b> using <b>extended Euclidean algorithm</b>. Also, for any \(p, q\) occurs \(gcd(w,v)|wp+vq\).</li>
			<li>\(lcm(v, w)=\frac{vw}{gcd(v,w)}\)</li>
			<li>If pair \((x,y)\) solves bezout's identity - \(wx+vy=gcd(w,v)\) - then for any \(k \in Z\) pair \((x+\frac{kv}{gcd(w,v)}, y-\frac{kw}{gcd(w,v)})\) also solves this equation, and there are no other solutions.</li>
			<li>All integers \(x, y\) produced by extended Euclidean algorithm are not exceeding those given as input.</li>
			<li>Equation \(ax \equiv c \pmod m\) has any solutions if and only if \(c|gcd(a,m)\). Solutions have form \(\frac{pc}{gcd(a, m)}+k\frac{lcm(a, m)}{a}\) for some integer \(k\), where \(ap+ml=gcd(a, m)\) for some integer \(l\).</li>
			<li>If \(x \equiv y \pmod m\), then \(gcd(x, m)=gcd(y, m)\)</li>
			<li>If \(gcd(m, a)=1\), then integer \(p\) solving \(ap+mq=1\) is called <b>modular multiplicative inverse of \(a\) modulo \(m\)</b>, also \(ap \equiv 1 \pmod m\)</li>
		</ol>

		<h3>Problems</h3>
		<p>Problems concerning GCD rely on finding multiplicative inverse, and so on. Example problems involving gcds are: <br>
			<a href="https://codeforces.com/problemset/problem/200/E">Tractor College</a>, 
			<a href="https://codeforces.com/problemset/problem/919/E">Congruence Equation</a>,
			<a href="https://codeforces.com/problemset/problem/585/C">Alice, Bob, Oranges and Apples</a>
		</p>
		<div id="problems"></div>
		<button class="sender" id="taskButton" name="next" type="submit" formmethod="post" form="page" value="taskAdder" style="display:none;">Add Problem</button>	
		<script type='module' src="{{url_for('static', filename='NumberTheory/Greatest_Common_Divisor/merger.js')}}"></script>
		<form id="page" style="display:none"></form>
		{{ footers.full_lower() }}
	</body>
</html>
