<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Algorithm visualizations</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<div class="utilsBar">
				<button class="signer System" form="page" type="submit" formmethod="post" name="next" id="signupButton" value="signup">Sign Up &gt;</button>
				<button class="signer System" form="page" type="submit" formmethod="post" name="next" id="loginButton" value="login">Log in &gt;</button>
			</div>
			<h1>Wisdom is not lost here</h1>
			<div>
				<input list="topics" form="sear" name="themes" id="themes" style="background-color:#BBBBBB; margin:0; padding:0; border:0;">
				<datalist id="topics">
					{% for x in topics %}
						<option value="{{x}}">
					{% endfor %}
				</datalist>
				<button class="sender" type="submit" formmethod="post" form="sear" name="search" value="go">Search</button>
				<div id="error" style="color:#FFFFFF;"></div>
			</div>
		</header>
		<h2>Number Theory</h2>
		<div class="domainContainer">
			<div class="btnContainer">
				<a class="wisdom" href="/erasto" style="font-size:12px">\(
					\begin{array}{|c|c|c|c|}
					{% for i in [0,1,2,3] %}
						\hline
						{% for j in [0,1,2,3] %}
							{{i*4+j+2}}
							{% if (j!=3) %}
								&
							{% else %}
								\\
							{% endif %}
						{% endfor %}
					{% endfor %}
						\hline
					\end{array}	
				
				\)</a>
				<p class="algoName">Sieve</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/gcd">\(
					gcd(a, b)
				\)</a>
				<p class="algoName">Greatest Common Divisor</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/crt">\(
					\begin{cases}
						x \equiv 12\ (mod\ 12) \\
						x \equiv 47\ (mod\ 90) \\
					\end{cases}
				\)</a>
				<p class="algoName">Chinese Remainder Theorem</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/binex">\(
					a^b \equiv x\ (mod\ m)
				\)</a>
				<p class="algoName">Binary Exponentation</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/totient">\(
					\phi (x)
				\)</a>
				<p class="algoName">Totient Function</p>
			</div>
		</div>



		<h2>Tree</h2>
			<div class="domainContainer">
				<div class="btnContainer">
					<a class="wisdom treebutton" href="/treewalk" style="font-size:12px">\(
						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1em}\raise{ #2em}{ #3}}}}
						%
						\hskip 1em
						%
						\place{0}{6}{\bullet}
						\place{2}{9}{\bullet}
						\place{4}{6}{\bullet}
						\place{5}{12}{\bullet}
						\place{7}{6}{\bullet}
						\place{7.2}{9}{\bullet}
						%
						\place{.3}{6.5}{\uline{1.6}{2.6}}
						\place{2.3}{6.4}{\dline{1.6}{2.6}}
						\place{2.3}{9.4}{\uline{2.6}{2.7}}
						\place{5.3}{9.4}{\dline{1.8}{2.6}}
						\place{7.3}{6.5}{\uline{-0.6}{2.6}}
						%
						\place{0.5}{5.5}{4}
						\place{.75}{9}{2}
						\place{4.5}{5.5}{3}
						\place{5.75}{12}{1}
						\place{6.2}{5.5}{5}
						\place{7.95}{9}{6}
						%
						\hskip18em\Rule{0em}{14em}{1.5em}
					\)</a>
					<p class="algoName">Tree Basics</p>
				</div>

				<!--
				<div class="btnContainer">
					<a class="wisdom treebutton" href="/totient" style="font-size:12px">\(
						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1em}\raise{ #2em}{ #3}}}}
						%
						\hskip 1em
						%
						\place{0}{6}{\bullet}
						\place{2}{9}{\bullet}
						\place{4}{6}{\bullet}
						\place{5}{12}{\bullet}
						\place{7}{6}{\bullet}
						\place{7.2}{9}{\bullet}
						%
						\place{.3}{6.5}{\uline{1.6}{2.6}}
						\place{2.3}{6.4}{\dline{1.6}{2.6}}
						\place{2.3}{9.4}{\uline{2.6}{2.7}}
						\place{5.3}{9.4}{\dline{1.8}{2.6}}
						\place{7.3}{6.5}{\uline{-0.6}{2.6}}
						%
						\place{0.5}{5.5}{4}
						\place{.75}{9}{2}
						\place{4.5}{5.5}{3}
						\place{5.75}{12}{1}
						\place{6.2}{5.5}{5}
						\place{7.95}{9}{6}
						%
						\hskip18em\Rule{0em}{14em}{1.5em}
					\)</a>
					<p class="algoName">Tree Basics</p>
				-->
				</div>
			</div>
		<form id="page" style="display:none"></form>
		<form id="sear" style="display:none"></form>
	</body>

</html>
