<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Algorithm visualizations</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<div class="utilsBar">
			</div>
			<h1>Wisdom is not lost here</h1>
			<div>
				<input list="topics" form="sear" name="themes" id="themes" style="background-color:#BBBBBB; margin:0; padding:0; border:0;">
				<datalist id="topics">
					{% for x in topics %}
						<option value="{{x}}">
					{% endfor %}
				</datalist>
				<button class="sender" type="submit" formmethod="post" form="sear" name="search" value="go">Search</button>
				<div id="error" style="color:#FFFFFF;"></div>
			</div>
		</header>

		<h2>Number Theory</h2>
		<div class="domainContainer">
			<div class="btnContainer">
				<a class="wisdom" href="/gcd">\(
					gcd(a, b)
				\)</a>
				<p class="algoName">Greatest Common Divisor</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/erasto" style="font-size:12px">\(
					\begin{array}{|c|c|c|c|}
					{% for i in [0,1,2,3] %}
						\hline
						{% for j in [0,1,2,3] %}
							{{i*4+j+2}}
							{% if (j!=3) %}
								&
							{% else %}
								\\
							{% endif %}
						{% endfor %}
					{% endfor %}
						\hline
					\end{array}
				
				\)</a>
				<p class="algoName">Sieve</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/crt">\(
					\begin{cases}
						x \equiv c_1\ (mod\ m_1) \\
						x \equiv c_2\ (mod\ m_2) \\
					\end{cases}
				\)</a>
				<p class="algoName">Chinese Remainder Theorem</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom nt_combinato" href="/divisors">\(
					d|x
				\)</a>
				<p class="algoName">Divisors</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/binex">\(
					a^b \equiv x \pmod m
				\)</a>
				<p class="algoName">Binary Exponentation</p>
			</div>

			<div class="btnContainer">
				<a class="wisdom" href="/totient">\(
					\phi (x)
				\)</a>
				<p class="algoName">Totient Function</p>
			</div>
			<div class="btnContainer">
				<a class="wisdom" href="/proot">\(
					ord_n(g)=\phi(n)
				\)</a>
				<p class="algoName">Primitive Root</p>
			</div>
			<div class="btnContainer">
				<a class="wisdom nt_combinato" href="/ntt">\(
					A(x)B(x) \equiv C(x)
				\)</a>
				<p class="algoName">Number Theoretic Transform and generating functions</p>
			</div>
			<div class="btnContainer">
				<a class="wisdom" href="/dlog">\(
					a^x \equiv b \pmod m
				\)</a>
				<p class="algoName">Discrete Logarithm</p>
			</div>
			<div class="btnContainer">
				<a class="wisdom" href="/advpr">\(
					a^{ {2^k}s} \equiv \pm 1
				\)</a>
				<p class="algoName">Advanced Primes</p>
			</div>
			<div class="btnContainer">
				<a class="wisdom" href="/prcount">\(
					\pi(x)
				\)</a>
				<p class="algoName">Counting Primes</p>
			</div>
		</div>

		<!--
		<h2>Combinatorics</h2>
			<div class="domainContainer">
				<div class="btnContainer">
					<a class="wisdom combutton" href="/choice" style="font-size:20px">\(
						\binom{n}{k}=\frac{n!}{(n-k)!k!}
					\)</a>
					<p class="algoName">Choice</p>
				</div>

				<div class="btnContainer">
					<a class="wisdom combutton" href="/iep" style="font-size:40px">\(
						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1em}\raise{ #2em}{ #3}}}}
						%
						\hskip 0.8em
						\place{-0.65}{11.4}{\Huge \bigcirc}
						\place{0.15}{11.4}{\Huge \bigcirc}
						\place{0.27}{11.9}{\tiny{A \cap B}}
						\place{-0.35}{11.9}{\tiny{A}}
						\place{1.97}{11.9}{\tiny{B}}
						\hskip18em\Rule{0em}{13.8em}{1.5em}
					\)</a>
					<p class="algoName">Inclusion-Exclusion Principle</p>
				</div>

				<div class="btnContainer">
					<a class="wisdom combinato_nt" href="/unholy_romance" style="font-size:20px">\(
						p^q | \binom{n}{k}
					\)</a>
					<p class="algoName">Number theory for Combinatorics</p>
				</div>

			</div>
		-->


		<h2>Tree</h2>
			<div class="domainContainer">
				<div class="btnContainer">
					<a class="wisdom treebutton" href="/treewalk" style="font-size:12px">
						<div style="width:180px; height:180px; position:relative">
							{% include 'ImagesForButtons/tree_walk.html' %}
						</div>
					</a>
					<p class="algoName">Tree Walk</p>
				</div>

				<!--
				<div class="btnContainer">
					<a class="wisdom treebutton" href="/lca" style="font-size:12px">
						<div style="width:180px; height:180px; position:relative">
							{% include 'ImagesForButtons/lca.html' %}
						</div>
					</a>
					<p class="algoName">Lowest Common Ancestor</p>
				</div>

				<div class="btnContainer">
					<a class="wisdom tree_combinato" href="/tree_isomorphism" style="font-size:12px">\(
						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1em}\raise{ #2em}{ #3}}}}
						%
						\hskip 1em
						%
						\place{2.25}{12}{\bullet}
						\place{2}{9}{\bullet}
						\place{0}{6}{\bullet}
						\place{4}{6}{\bullet}

						\place{6.1}{6}{\bullet}
						\place{6.35}{8}{\bullet}
						\place{6.6}{10}{\bullet}
						\place{6.85}{12}{\bullet}

						%
						\place{0.25}{6.4}{\uline{1.5}{2.5}}
						\place{2.25}{6.4}{\dline{1.5}{2.5}}
						\place{2.25}{9.4}{\uline{-1}{2.6}}

						\place{6.4}{6.4}{\uline{-1}{1.6}}
						\place{6.65}{8.4}{\uline{-1}{1.6}}
						\place{6.9}{10.4}{\uline{-1}{1.6}}
						%
						\hskip18em\Rule{0em}{14em}{1.5em}
					\)</a>
					<p class="algoName">Isomorphic trees</p>
				</div>

				<div class="btnContainer">
					<a class="wisdom treebutton" href="/totient" style="font-size:12px">\(
						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1em}\raise{ #2em}{ #3}}}}
						%
						\hskip 1em
						%
						\place{0}{6}{\bullet}
						\place{2}{9}{\bullet}
						\place{4}{6}{\bullet}
						\place{5}{12}{\bullet}
						\place{7}{6}{\bullet}
						\place{7.2}{9}{\bullet}
						%
						\place{.3}{6.5}{\uline{1.6}{2.6}}
						\place{2.3}{6.4}{\dline{1.6}{2.6}}
						\place{2.3}{9.4}{\uline{2.6}{2.7}}
						\place{5.3}{9.4}{\dline{1.8}{2.6}}
						\place{7.3}{6.5}{\uline{-0.6}{2.6}}
						%
						\place{0.5}{5.5}{4}
						\place{.75}{9}{2}
						\place{4.5}{5.5}{3}
						\place{5.75}{12}{1}
						\place{6.2}{5.5}{5}
						\place{7.95}{9}{6}
						%
						\hskip18em\Rule{0em}{14em}{1.5em}
					\)</a>
					<p class="algoName">Tree Basics</p>
				</div>
			</div>
			-->

			<div class="footer">
                <div class="buffer"></div>
                <!--<a href="/helper">Informations</a>-->
                <p class="disc">Discussion and code: <a href="https://github.com/JonothorDarry/Nothingness/discussions">https://github.com/JonothorDarry/Nothingness/discussions</a></p>
			</div>
		<form id="page" style="display:none"></form>
		<form id="sear" style="display:none"></form>
	</body>

</html>
