<!DOCTYPE html>
{% import 'headers.html' as headers %}

<html>
	<head>
		<title>Mail associated with forgotten login</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
	</head>

	<body class="formBody">
		{{ headers.header('Provide a mail, then', 'System') }}
		
		<div class="formBox">
			<table class="formLabel">
				<tbody>
					<tr>
						<td><label for="email">e-mail</label></td>
						<td><input type="email" form="secrets_of_stars" id="email" name="email" required="required"></td>
					</tr>
					<tr>
						<td></td>
						<td><button class="sender" form="secrets_of_stars" type="submit" formmethod="post" name="next" value="index">Send</button></td>
					</tr>
				</tbody>
			</table>
			<div id="informer">After sending data properly, You'll be redirected to the main site, and a message will be send to Your e-mail, with link enabling Thee to change password (and login)</div>
			<div id="error"></div>
		</div>

		<form id="page" style="display:none"></form>
		<form id="secrets_of_stars" style="display:none"></form>
	</body>
</html>
