<!DOCTYPE html>
{% import 'headers.html' as headers %}
{% import 'footers.html' as footers %}
{% import 'algo.html' as algo %}

<html lang="en">
	<head>
		<title>Lowest Common Ancestor - Algorithm visualizations</title>
		{{ headers.meta() }}
	</head>

	<body>
		{{ headers.full_upper('Lowest Common Ancestor', 'Trees') }}
		<main>
			<section>
				<h2>Introduction</h2>
				<p>In this article the idea of the lowest common ancestor will be shown, along with quick ways of finding it. Definitions used in this article include:</p>
				<ol>
					<li>If a rooted tree is given/created, for each vertex four parameters will be used throughout this (and next) article:
						<ol>
							<li><b>Depth</b> of a vertex \(x\) is the distance in a tree from the root to the \(x\). Depth of a vertex \(x\) will be later denoted as \(dep(x)\).</li>
							<li><b>Parent</b> of a vertex \(x\) is a vertex \(y\) with lower depth such that there exists an edge between \(x\) and \(y\). It will be denoted as \(par(x)\).</li>
							<li><b>Size of a subtree</b> of a vertex \(x\) is amount  of such vertexes \(y\), that \(x\) lies on a simple path from \(y\) to \(root\). It will be denoted as \(sons(x)\). Notice, that \(sons(x) = 1+\sum_{y \in C(x)} sons(y)\), where \(C(x)\) denotes all vertexes, whose parent is \(x\).</li>
							<li><b>Preorder number</b> of a vertex \(x\) is a number assigned to a vertex during depth first search. It will be denoted as \(pre(a)\). Preorder number of a vertex can be assigned when first entering a vertex in depth first search as the least unassigned natural number.</li>
						</ol>
					</li>
					<li><strong>Lowest Common Ancestor</strong> of two vertices \(a,b\) (later denoted as \(lca(a,b)\)) is a vertex with maximal depth, whose descencdants are both \(a\) and \(b\).</li>
				</ol>

			</section>

			<section>
				<h2>Problem: Finding lowest common ancestor (and possibly k-th ancestor)</h2>
				<p>The problem is dead simple: you are given a tree with \(n\) vertices \((n \le 2*10^5)\), among them one distinguished vertex - root - and \(q\) queries in form \(s,a,b\) \((q \le 2*10^5)\). The problems:</p>
				<ol>
					<li>If \(s=\)'l', find \(lca(a,b)\).</li>
					<li>(Optional) If \(s=\)'k', find \(b-th\) ancestor of \(a\) - that is, such an ancestor \(x\) of \(a\), that \(dep(a)-dep(x) = b\).</li>
				</ol>
				<p>Notice, that solving those problems can give valuable informations about any tree without distinguished root - for example, distance between two vertices \((a,b)\) in a tree is equal to \(dep(a)+dep(b) - 2*dep(lca(a,b))\).</p>
				<h3>Solution I: Binary lifting - \(O(n\log(n) + q\log(n))\) for finding lca and k-th ancestor</h3>
				<h4>Preprocessing phase</h4>
				<p>What if one would keep information about 1st, 2nd, 4th, 8th, ...\(2^k\)-th ancestor of each vertex? Let \(par_k(x)\) denote he \(k\)-th ancestor of \(x\). Then:
					$$ par_{2k}(x) = par_k(par_k(x)) $$
				This allows to get information on each \(2^k\)-th ancestor of any vertex in \(O(n\log(n))\). 
				So, the preprocessing will go as follows:
				<ol>
					<li>For each vertex \(x\) find out \(par_1(x)\) - using dfs.</li>
					<li>For each subsequent \(k\) for each vertex \(x\) find out \(par_{2^{k+1}}(x) = par_{2^k}(par_{2^k}(x))\) for all such \(k \le m\), that \(2^m \le n\) - so, \(m = \lceil \log_2(n) \rceil\).</li>
				</ol>
				</p>
				<h4>Querying phase</h4>
				<p>There are two problems to solve:
				<ol>
					<li>\(k\)-th ancestor - note, that \(par_k(x) = par_{k-2^l}(par_{2^l}(x))\) - this allows a solution based on whether a bit of \(k\) is set or not.</li>
					<li>\(lca(a,b)\) - effectively, it will boil down to a binary search - like approach for \(k'\)-th ancestor, where \(k' = lca(a,b)\). How to check, whether \(k'\) is an ancestor of both \(a\) and \(b\)? If candidates will be chosen among ancestors of \(a\), then the only question is: whether a vertex is an ancestor of \(b\). Note, that if \(x\) is a descendant of \(y\), then:
						<ul>
							<li>\(pre(y) \le pre(x)\) - because dfs entered \(y\) before \(x\).</li>
							<li>\(pre(y) + son(y) \gt pre(x)\) - because all descendants of \(y\) have preorder numbers in \(\{pre(y), pre(y)+1 \dots pre(y)+son(y)-1\}\).</li>
						</ul>
						This allows constructing the following algorithm: search for ancestors of \(a\), from \(par_{2^m}(a)\) to \(par_1(a)\); if \(par_x(a)\) is not an ancestor of \(b\), set \(a\) to \(par_x(a)\) and continue from \(x\). At the end of the process, return \(par_1(a)\). The only corner case in need of attention: if \(a\) is an ancestor of \(b\) or \(b\) is an ancestor of \(a\), then, at the beginning of the algorithm, \(a\) or \(b\) should be returned.
					</li>
				</ol>
				</p>

				<article>
					<div style="width:max-content">
						{{ algo.neo_double_algorithm({'id':2, 'header_text':'Lowest common ancestor preprocessing', 'input_format':'<p>Input format: \(n\) is number of vertices, \(a_i, b_i\) denotes edge between \(a\) and \(b\). Vertexes need to be labeled from 1-n, there are \(n-1\) edges which need to denote a tree. \(q\) is the amount of queries.<br>
						\(n\)<br>
						\(a_1, b_1\)<br>
						\(\dots\)<br>
						\(a_{n-1}, b_{n-1}\)<br>
						</p>
						',
						'start_value':'8&#10;1 2&#10;1 3&#10;3 4&#10;4 5&#10;3 6&#10;3 7&#10;7 8&#10;', 'kvargos':{'input_type':'textarea'}
}, {'id':3, 'header_text':'Queries', 'input_format':'
					<p>Input format: Queries in a format: \(c, x, y\): if \(c=\)\'k\', then query will return \(y\)-th ancestor of \(x\). If \(c=\)\'l\', then query will return \(lca(x, y)\). Constraint: \(x, y \le n\).<br>
						\(c, x, y\)<br>
						</p>
					'
					, 'start_value':'l 8 5', 'kvargos':{} },  'Lowest Common Ancestor with binary lifting') }}
					</div>
				</article>


				<h3>Solution II: RMQ-based solution - \(O(n\log(n) + q)\) (depending on RMQ solution) for finding lca</h3>
				<p>Let the sequence \(path\) denote the order of processing vertices in the dfs. Each time a vertex is entered in dfs (by moving upwards or downwards towards it), a vertex is added to a sequence \(path\). Furthermore, let \(time(x)\) denote first occurence of a vertex \(x\) in a sequence \(path\). Let's say, we are searching for \(lca(a,b)\), and \(time(a) \le time(b)\). In this representation:</p>
				<ol>
					<li>There is an index \(i\), where \(time(a) \le i \le time(b)\) and \(path_i = lca(a,b)\) - because dfs after processing vertex \(a\) had to go upwards to \(lca(a, b)\) before going downwards to find \(b\).</li>
					<li>The minimal depth of any vertex in sequence \(path\) between \(time(a)\) and \(time(b)\) is \(depth(lca(a,b))\) - because \(lca(a,b)\) cannot be exited in dfs before reaching \(b\).</li>
				</ol>
				<p>Thus, in order to find \(lca(a,b)\) you can find vertex present in a sequence \(path\) between indexes \(time(a)\) and \(time(b)\) with minimal depth. This can be solved using RMQ - either with segment tree, or sparse table, or whatever.</p>
				<h4>The exact mechanics of range minimum query using the sparse table</h4>
				<p>Let's say we've got an array \(array\) and our aim is to be able to answer a question in form \(f\_min(l,r) = \min\{array_l, array_{l+1}, \dots, array_r\}\).</p>
				<p>Our first aim is to construct a table \(sparse\) allowing us to answer queries in form \(f\_min(l, l+2^k-1)\). Let \(sparse_{k,l} = f\_min(l, l+2^k-1)\).</p>
				<p>To start, \(sparse_{0,x} = array_{x}\).</p>
				<p>Then, \(sparse_{k,x} = \min\{array_x, array_{x+1}, \dots, array_{x+2^k-1}\} = \min\{\min\{array_x, array_{x+1}, \dots, array_{x+2^{k-1}-1}\}, \min\{array_{x+2^{k-1}}, array_{x+2^{k-1}+1}, \dots, array_{x+2^k-1}\}\} = \min\{sparse_{k-1,x}, sparse_{k-1, x+2^{k-1}}\}\). So, if \(sparse_{k-1,h}\) is known for any \(h\), then \(sparse_{k, x}\) is easily attainable.</p>
				<p>Now, in order to answer query in a form \(f\_min(l,r)\) we can find two (not necessarily distinct) intervals \(&lt; l, l+2^k-1 &gt;\) and \(&lt;r-2^k+1, r&gt;\), such that:
				$$
				\begin{cases}
					l+2^k-1 \le r & \text{(so that no element from beyond the interval is included)}\\
					l+2^k-1+1 \ge r-2^k+1 & \text{(so that all elements in the interval are included)}\\
				\end{cases}
				$$
				Which leads to:
				$$
				\begin{cases}
					2^k \le r-l+1 \\
					2^{k+1} \ge r-l+1 \\
				\end{cases}
				$$
				And so, \(k=\lfloor log_2(r-l+1) \rfloor\) always satisfies those demands.</p>
				<p>Finally \(f\_min(l, r) = \min\{sparse_{k, l}, sparse_{k, r-2^k+1}\}\) with \(k=\lfloor log_2(r-l+1) \rfloor\).</p>
				<p>To find \(\lfloor log_2(r-l+1) \rfloor\), a math library can be employed, or the properties
				$$
					\lfloor \log_2(1) \rfloor = 0 \\
					\lfloor \log_2(x) \rfloor = \lfloor log_2(x &gt; &gt; 1) \rfloor + 1 \text{ for \(x \ge 2\)} 
				$$
				can be used to create an array and use it, moving the complexity to \(O(n \log n + q)\).</p>
				<h4>Additional considerations regarding the use of range minimum query for lowest common ancestor problem</h4>
				<p>In order to use range minimum queries, the vertices need to be compared by their depths rather than by their index.</p>
				<p>One can - instead of solving range minimum query on a path - solve queries on a preorder array. If dfs accessed vertex \(b\) after accessing vertex \(a\), then either \(lca(a, b)=a\), or \(lca(a,b)\) was accessed before accessing \(a\) (so \(pre(lca(a,b)) &lt; pre(a)\)) and the second vertex on a path from \(lca(a,b)\) to \(b\) was accessed after accessing \(a\) - because dfs had to move upwards from \(a\), then downwards from \(lca(a,b)\) towards \(b\). Thus the parent of the vertex with lowest depth among vertices with preorder in range \(&lt; pre(a);pre(b) &gt;\) is \(lca(a,b)\) if \(a\) is not an ancestor of \(b\).</p>

				<article>
					<div style="width:max-content">
						{{ algo.neo_double_algorithm({'id':4, 'header_text':'Lowest common ancestor preprocessing', 'input_format':'<p>Input format: \(n\) is number of vertices, \(a_i, b_i\) denotes edge between \(a\) and \(b\). Vertexes need to be labeled from 1-n, there are \(n-1\) edges which need to denote a tree. \(q\) is the amount of queries.<br>
						\(n\)<br>
						\(a_1, b_1\)<br>
						\(\dots\)<br>
						\(a_{n-1}, b_{n-1}\)<br>
						</p>
						',
						'start_value':'8&#10;1 2&#10;1 3&#10;3 4&#10;4 5&#10;3 6&#10;3 7&#10;7 8&#10;', 'kvargos':{'input_type':'textarea'}
}, {'id':5, 'header_text':'Queries', 'input_format':'
					<p>Input format: Queries in a format: \(x, y\): The query will return \(lca(x, y)\). Constraint: \(x, y \le n\).<br>
						\(x, y\)<br>
						</p>
					'
					, 'start_value':'8 5', 'kvargos':{} },  'Lowest Common Ancestor with RMQ') }}
					</div>
				</article>
			</section>

			<article>
				<h2>Summary</h2>
				<ol>
					<li>In order to get lowest common ancestor of two vertices, one can keep in memory all its 2<sup>k</sup>-th ancestors for each \(k \in \{1, 2, \dots, \log_2(n)\}\), where \(n\) is the size of the tree. Those can be obtained using the fact, that \(anc_{2k}(n) = anc_k(anc_k(n))\). This allows finding \(k\)-th ancestor and lowst common ancestor in \(O(n \log n + q \log n)\).</li>
					<li>One can also find \(lca(a,b)\) using the fact, that it is the vertex with lowest depth on a path from \(a\) to \(b\) - or vertex with lowest depth occuring during dfs traversal between the occurence of a vertex \(a\) and the occurence of a vertex \(b\) - in this version, the vertex with lowest depth between the first occurence of \(a\) and the first occurence of \(b\) in dfs traversal is \(lca(a,b)\) - which can be found with range minimum query in \(O(n \log n + q)\).</li>
				</ol>

				<h3>Problems</h3>
				<p>Ideas shown here are usually useful for problems involving queries on never-changing trees. Examples include:</p>
				<ol>
					<li><a href="https://codeforces.com/problemset/problem/825/G">Tree Queries</a></li>
					<li><a href="https://codeforces.com/problemset/problem/176/E">Archaeology</a></li>
					<li><a href="https://codeforces.com/problemset/problem/575/B">Bribes</a></li>
				</ol>
			</article>
			<div id="problems"></div>
			<button class="sender" id="taskButton" name="next" type="submit" formmethod="post" form="page" value="taskAdder" style="display:none;">Add Problem</button>

			<script type='module' src="{{url_for('static', filename='Trees/LCA/merger.js')}}"></script>
			<form id="page" style="display:none"></form>
		</main>
		{{ footers.full_lower() }}
	</body>
</html>
