.wisdom{
	display:inline-block;
	background-color: #6666DD;
	color: #FFFFFF;
	width: 180px;
	height: 180px;
	page-break-inside: avoid;
	margin:0;
	border: 0;
	padding: 0;
	border-radius:100%;

	text-align:center;
	font-size:16px;
	vertical-align:middle;
	line-height:180px;
	overflow:hidden;
}

.wisdom:hover{background-color: #8888DD;}
.treebutton{background-color: #E67300;}
.treebutton:hover{background-color: #FF9319;}

.nt_combinato{background:linear-gradient(to right bottom, #6666DD 50%, #800000 50%);}
.nt_combinato:hover{background:linear-gradient(to right bottom, #8888DD 50%, #b22222 50%);}

.combutton{background-color: #800000;}
.combutton:hover{background-color: #b22222;}

.algoName{
	width: 180px;
	text-align: center;
}

.btnContainer{
	display: inline-block;
	position: relative;
	top: 0;
	right: 0;
	vertical-align: top;
}

.domainContainer{
	position: relative;
	top: 0;
}

h1{
	position: relative;
	background-color: #000000;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	height:210px;
	line-height:210px;

	top:0;
	text-align: center;
	vertical-align: middle;
}

.sender{
        background-color: #FFFFFF;
        color: #000000;
        border:None;
}

body{
	margin: 0;
	padding: 0;
	font-family:sans-serif;
}

header{
	color:#000000;
	background-color:#000000;
	text-align: right;
}

.utilsBar{
	background-color:#000000;
	height:50px;
	text-align: left;
}

.signer{
	background-color:#000000;
	display: inline-block;
	width:10%;
	position:relative;
	left:0;
	height:100%;
	padding:0;
	margin:0;
	border:0;
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:16px;
}
.signer:hover{background-color:#444444;}
