.comprehend{
        position: relative;
        height:80px;
}
.sender, .previous, .next, .finish{
        background-color: #000000;
        color: #FFFFFF;
        border:None;
        width:120px;
        height:25px;
}

.sender:hover, .previous:hover, .next:hover, .finish:hover{
	background-color: #333333;
}

h2{
	position: relative;
	width: 100%;
	text-align: center;
}

.breakAlgo{
	height:2px;
}

.central{
	margin:auto;
	display:table;
}

header{
	color:#FFFFFF;
	background-color:#000044;
	text-align: center;
}

.utilsBar{
	background-color:#000022;
	height:50px;
	text-align: left;
}

.backer{
	background-color:#000022;
	display: inline flow-root;
	width:10%;
	position:relative;
	left:0;
	height:100%;
	padding:0;
	margin:0;
	border:0;
	color:#FFFFFF;
}

.backer:hover{
	background-color:#000088;	
	
}
/*
div.returner{
	position:relative;
	display: inline flow-root;
	width: 19%;
	height: 150px;
	top:0;
	padding:0;
	text-align: left;
}
*/
h1{
	position: relative;
	height: 150px;
	line-height: 150px;
	top: 0;
	padding: 0;
	margin: 0;
	display: inline flow-root;
	text-align: match-parent;
	vertical-align: middle;
}

body{
	margin: 0;
	padding: 0;
}
