.comprehend{
        position: relative;
        height:80px;
}
.sender, .previous, .next, .finish, .show{
        background-color: #000000;
        color: #FFFFFF;
        border:None;
        width:120px;
        height:25px;
}

.sender:hover, .previous:hover, .next:hover, .finish:hover{background-color: #333333;}

h2{
	position: relative;
	width: 100%;
	text-align: center;
}

textarea{height:100px;}
a.toc {text-decoration: none;}
a.algo {color: #B35900;}
a.shower {color: #800055;}

.breakAlgo{height:2px;}

.central{
	margin:auto;
	display:table;
}

header{
	color:#FFFFFF;
	background-color:#000044;
	text-align: center;
}

.utilsBar{
	background-color:#000022;
	height:50px;
	text-align: left;
}

header.Combinatorics{background-color:#B80606;}
header.Trees{background-color:#994D00;}
header.System{background-color: #000000;}

.utilsBar.Combinatorics{background-color:#600000;}
.utilsBar.Trees{background-color:#663300;}
.utilsBar.System{background-color:#000000;}

.backer{
	display: inline-block;
	width:10%;
	height:50px;
	position:relative;
	top:0;
	left:0;
	padding:0;
	margin:0;
	border:0;
	text-align:center;
	font-family:sans-serif;
	font-size:16px;
	vertical-align:middle;
	line-height:50px;
	background-color:#000022;
	color:#FFFFFF;
	text-decoration:none;
}


.backer:hover{background-color:#000088;}

.backer.Combinatorics{background-color:#330000;}
.backer.Combinatorics:hover{background-color:#FF1D1D;}

.backer.Trees{background-color:#331100;}
.backer.Trees:hover{background-color:#CC6600;}

.backer.System{background-color:#000000;}
.backer.System:hover{background-color:#444444;}

h1{
	position: relative;
	height: 150px;
	line-height: 150px;
	top: 0;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: match-parent;
	vertical-align: middle;
}


html, body{
	margin: 0;
	padding: 0;
	height:100%;
	/*Here are changes - dark mode*/
	/*
	color: #EEEEEE;
	background-color: #00001A;
	*/
	font-size: 16px;
}

p,ol{
	margin:0px 3%;
	line-height: 1.6;
}

.formBox{
	position:relative;
	top:30%;
}

.formLabel{
	position:relative;	
	left:45%;
	border:solid;
	border-color:#AAAAAA;
}

#error{
	bottom:0;
	text-align: center;
	color:#FF0000;
}
#informer{
	text-align: center;
	color:#000000;
}


#problems{
	margin-left:5%;
	margin-right:5%;
	position: relative;
}

.pureAlgo{
	position:relative;
}
