{% macro algorithm(id, header_text, input_format, start_value, input_type='input', algo_type='algo') %}
		<div id="Algo{{id}}" class="pureAlgo">
			<h2>{{header_text}}</h2>

			{% autoescape off %}
				{{input_format}}
			{% endautoescape %}

			<div id="Inputter{{id}}">
				<form>
					{% if input_type=='input' %}
						<input class="inputter" id="SomeInput{{id}}" name="SomeInput" value="{{start_value}}">
					{% else %}
						{% autoescape off %}
						<textarea class="inputter" id="SomeInput{{id}}" name="SomeInput">{{start_value}}</textarea>
						{% endautoescape %}
					{% endif %}
				</form>
			</div>
			{% if algo_type=='algo' %}
			<div id="Buttons{{id}}" style="position:sticky; top:0; z-index:1; display:inline-block;">
					<button id="Sender{{id}}" class="sender">Begin</button>
					<button id="Prever{{id}}" class="previous">Previous Move</button>
					<button id="Nexter{{id}}" class="next">Next Move</button>
					<button id="Finisher{{id}}" class="finish">Finish</button>
			</div>
			{% else %}
				<button id="Show{{id}}" class="show">Show</button>
			{% endif %}

			<div class="breakAlgo"></div>
			<div id="Primez{{id}}" class="primez"></div>
			<div id="Comprehend{{id}}" class="comprehend"></div>
		</div>
{% endmacro %}
