<!DOCTYPE html>



<html>
	<head>
		<title>Chinese Remainder Theorem</title>
		<meta charset="UTF8">
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Temp.css')}}>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<h1>Chinese Remainder Theorem</h1>
		</header>
		<h3>Problem statement and definitions</h3>
		<p id="Theory">
			Suppose \(m\) equalities are given in form: <br>
			<span class="central">
			\(
			m\text{ equations}
			\begin{cases}
			{% for x in [1,2] %}
				x \equiv c_{{x}}\ (mod\ s_{{x}}) \\
			{% endfor %}
				... \\
				x \equiv c_m\ (mod\ s_m) \\
			\end{cases}
			\)
			</span>
			The problem is: find \(x\) satisfying these equations
		</p>
		<h3>The first thesis</h3>
		<p id="Solution">
			If it is possible to show equivalent equation for two different equations, then one can reduce number of equations by one:<br>
			<span class="central">\(x \equiv c_{1,2}\ (mod\ s_{1,2}) \iff 
				\begin{cases}
				x \equiv c_1\ (mod\ s_1) \\
				x \equiv c_2\ (mod\ s_2)\\
				\end{cases}
			\)
			</span>
			And, after reduction:<br><br>
			<span class="central">
			\(
			m-1\text{ equations}
			\begin{cases}
				x \equiv c_{1,2}\ (mod\ s_{1,2}) \\
				x \equiv c_3\ (mod\ s_3) \\
				... \\
				x \equiv c_m\ (mod\ s_m) \\
			\end{cases}
			\)
			</span>
			What follows, if one can solve pair of equations in \(O(w)\), then one can solve whole problem in \(O(w*m)\)
		</p>
		<h3>The second Thesis</h3>
		<p>
			One can rewrite <br>
			<span class="central">\(
				\begin{cases}
				x \equiv c_1\ (mod\ s_1) \\
				x \equiv c_2\ (mod\ s_2)\\
				\end{cases}
			\)
			</span>
			To<br>
			<span class="central">\(
				\begin{cases}
				x = s_1a+c_1 \\
				x = s_2b+c_2\\
				\end{cases}
			\)
			</span>
			For certain integers \(a,\ b\). What follows, <br>
			<span class="central">\(s_1a+c_1 = s_2b+c_2\)</span>
			<span class="central">\(s_1a-s_1b=c_2-c_1\)</span><br>
			One can solve equation \(s_1k+s_2l=gcd(s_1, s_2)\) in \(O(log(min(s_1, s_2)))\) using extended euclid; If \(c_2-c_1 \nmid gcd(s_1,s_2)\), Then one can go out and solve different problems, for there are no integer solutions: left side is always divsible by \(gcd(s_1,s_2)\) when \(s_1\) and \(s_2\) are multiplied by integers, \(c2-c1\) isn't. However, if \((c_2-c_1)|gcd(s_1,s_2)\), then:<br><br>
			<span class="central">\(s_1k+s_2l = gcd(s_1,s_2)\ \ \ /*\frac{c_2-c_1}{gcd(s_1,s_2)}\)</span>
			<span class="central">\(s_1k*\frac{c_2-c_1}{gcd(s_1,s_2)}+s_2l*\frac{c_2-c_1}{gcd(s_1,s_2)} = c_2-c_1\)</span><br>
			And so, \(a=k\frac{c_2-c_1}{gcd(s_1,s_2)},\ b=l\frac{c_2-c_1}{gcd(s_1,s_2)}\). Now,
			<span class="central">\(x = s_1a+c_1 = s_1k\frac{c_2-c_1}{gcd(s_1,s_2)}+c_1\)</span><br>
			It answers problem for two equations, but to solve problem for more equations, one needs to find \(c_{1,2}\) and \(s_{1,2}\), such that \(x\) solves both equations if and only if:<br>
			<span class="central">\(x \equiv c_{1,2}\ (mod\ s_{1,2})\)</span><br>
		</p>
		<h3>The third thesis</h3>
		<p>
			What can be said about further solution to a system of equations?
			<span class="central">\(
				\begin{cases}
				x \equiv c_1\ (mod\ s_1) \\
				x \equiv c_2\ (mod\ s_2)\\
				\end{cases}
			\)</span><br>
			Clearly, if by \(x+v\) one denotes next solution (so \(|v|\) is minimal possible), then: 
			<span class="central">\(
				\begin{cases}
					x+v \equiv c_1\ (mod\ s_1) \\
					x+v \equiv c_2\ (mod\ s_2)\\
				\end{cases}
				\implies
				\begin{cases}
					v \equiv 0\ (mod\ s_1) \\
					v \equiv 0\ (mod\ s_2)\\
				\end{cases}
				\implies
				\begin{cases}
					s_1|v \\
					s_2|v \\
				\end{cases}
			\)</span><br>
		And so, \(|v|=lcm(s_1, s_2)=\frac{s_1s_2}{gcd(s_1,s_2)}\), which finishes problem, if \(s_{1,2}=lcm(s_1,s_2)\) and \(c_{1,2}=s_1k\frac{c_2-c_1}{gcd(s_1,s_2)}+c_1\) from second paragraph. That solves whole problem in \(O(m*log(max(s_i)))\)
		</p>
		<h3>The Theorem-in-itself</h3>
		<p>
		Chinese Remainder Theorem states, that if all \(s_i\) are coprime, then solution exists and is unique \(mod\ \prod_{i=1}^{m}s_i\). This is obvious, because:
		<span class="central">I) It must exist - \(gcd(s_i,s_{i+1})\) is always equal to one, and so \((c_{i+1}-c_i)|gcd(s_i,s_{i+1})\)</span>
		<span class="central">I) \(lcm(s_1,s_2,...s_m)\) is equal to \(\prod_{i=1}^{m}s_i\), because\(\forall_{i} gcd(s_i,s_{i+1})=1\)</span>
		</p>



	</body>



</html>
