<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Activation</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Temp.css')}}>
		<script src={{url_for('static', filename='Temp.js')}}></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>
	<body>
		<header class="systemHeader">
			<div class="utilsBar systemUtils">
				<button class="backer systemBacker" form="page" type="submit" formmethod="post" name="next" value="index">&lt; To main</button>
			</div>
			<h1>Activation Completed</h1>
		</header>

		<h3>Your account was activated!</h3>


		<form id="page" style="display:none"></form>
	</body>
</html>
