<!DOCTYPE html>
{% macro mt(a) -%}
	<math><mi>{{a}}</mi></math>
{%- endmacro %}

{% macro msub(math=1, a="a", b="i") -%}
	{% if(math==1) %}
		<math>
	{% endif %}
	<msub>
		<mrow>{{a}}</mrow>
		<mrow>{{b}}</mrow>
	</msub>
	{% if(math==1) %}
		</math>
	{% endif %}
{%- endmacro %}

{% macro msup(a, b, math=1) -%}
	{% if(math==1) %}
		<math>
	{% endif %}
		<msup>
			<mrow>{{a}}</mrow>
			<mrow>{{b}}</mrow>
		</msup>
	{% if(math==1) %}
		</math>
	{% endif %}
{%- endmacro %}

{% macro mopera(math, a, op, b) -%}
	{% if(math==1) %}
		<math>
	{% endif %}
	<mi>{{a}}</mi>
	<mo>{{op}}</mo>
	<mi>{{b}}</mi>
	{% if(math==1) %}
		</math>
	{% endif %}
	
{%- endmacro %}

{% macro mfrac(a, b, math=1) -%}
	{% if(math==1) %}
		<math>
	{% endif %}
		<mfrac>
			<mrow>{{a}}</mrow>
			<mrow>{{b}}</mrow>
		</mfrac>
	{% if(math==1) %}
		</math>
	{% endif %}
{%- endmacro %}

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Primes.css')}}>
</head>
<body>
	<h1>Greatest Common Divisor</h1>
	<h3>First problem statement and definitions</h1>
	<div>
		Let's say <math>q (q&lt;1000000)</math> queries are given: what is the greatest common divisor of numbers {{msub(1)}} and {{msub(1,"b")}} where <math>{{msub(0)}}, {{msub(0,"b")}}&lt;1000.000.000</math>? To answer this question, let's define greatest common divisor (gcd): A number {{mt("x")}} is gcd of numbers {{msub()}}, {{msub(1,"b","i")}} if and only if:<br>
		<center>
			<math>x=gcd({{msub(0)}},{{msub(0,"b")}}) ⇔ x|{{msub(0)}} ∧ x|{{msub(0,"b")}} ∧ {{msub(0,"!∃","y")}}(y|{{msub(0)}} ∧ y|{{msub(0,"b")}} ∧ y>x)</math>
		</center><br>
		In other words, if <math>x=gcd({{msub(0)}}, {{msub(0,"b", "i")}})</math>, then {{mt("x")}} divides {{msub(1)}} and {{msub(1,"b")}}, and there is no greater number {{mt("y")}} that divides both {{msub()}} and {{msub(1,"b")}}. First solution not being absolute brute force (checking all numbers <math>x∈&lt;2;min({{msub(0)}},{{msub(0,"b")}})&gt;</math> whether they're gcd - works in <math>O(q*min({{msub()}},{{msub(0,"b")}})</math>) is discussed below:
	</div>
	<h3>First solution</h3>
	<div>
		One can check al divisors of lower number from ai, bi whether it divides both of them, and take largest divisor of both. To find all divisors of a smaller number, one can check all numbers x up to sqrt(bi) if they divide both of them, and their counterparts - bi/x - this will work in O(q*sqrt(min(ai, bi))).
	</div>
	<h3>Second Solution</h3>
	<div>
		To solve this problem, one can take a modulus from dividing {{mt("a")}} by {{mt("b")}}, then swap them and continue until b is not equal to 0 - then, a is gcd, like on the animation.	
	</div>
	<div id="Algo1">
		<h2>Euclidean algorithm</h2>
		<div id="Inputter">
			<form>
				<input class="inputter" id="Erasto" name="Erasto" value="84 35">
			</form>
			<button id="Sender" class="sender">Begin</button>
			<button id="Prever" class="previous">Previous Move</button>
			<button id="Nexter" class="next">Next Move</button>
			<button id="Finisher" class="finish">Finish</button>
		</div>
		<div class="breakAlgo"></div>
		<div id="Primez" class="primez"></div>
		<div id="Comprehend" class="comprehend"></div>
	</div>
	<div id="debug"></div>

	<h2>Proofs</h2>
	<h3>Finiteness proof</h3>
	<div>
		In each move, {{mt("y")}} becomes previous {{mopera(1,"x","%","y")}}, but <math>{{mopera(0,"x","%","y")}}&lt;<mi>y</mi></math> by definition - and so, in each iteration {{mt("y")}} becomes lower, but in each iteration it's greater than 0 or algorithm ends - so number of steps must be lower or equal to {{mt("y")}} at the beginning of the algorithm.
	</div>
	<h3>Correctness proof</h3>
	<div>
		What can be said about any divisor {{mt("g")}} dividing both {{mt("x")}} and {{mt("y")}}? If {{mt("x")}} is shown as <math>{{mopera(0,"s","*","y")}}<mo>+</mo><mi>x</mi></math>, where {{mt("s")}}∈{{mt("N")}}, then:
		<math><br><center>x=g*k, y=g*l, x=s*y+m</center><br>
		<center>g*k=s*g*l+m</center><br>
		<center>g*k-s*g*l=g*(k-s*l)=m</center><br>
		</math>
		and so, any common divisor g dividing both x, y has to divide modulus x%y - and so, gcd(x, y)=gcd(x%y, y). If either x or y becomes equal to 0, then any number divides 0, and so any number that is divisor of both x and y must divide second number. The only thing left to do is finding greatest divisor of a number z&gt;0 - which is equal to z, which finishes the proof.

	</div>
	<h3>Complexity proof</h3>
	<div>
		It can be assumed without loss of generality, that x&gt;y - it is true after first iteration. Furthermore, 
		<br><center><math>y+x%y&lt;y+y=2*y</math></center><br>
		To prove that sum x'+y' is at most 2/3*(x+y), where x, y comes from iteration before, let's consider two cases: first, when x⩾2*y, second, when 2*y&gt;x⩾y.
		<br><center>(1) <math>{{mfrac("x+y","x'+y'",0)}}={{mfrac("x+y","x%y+y",0)}}&gt;={{mfrac("x+y","2*y",0)}}&gt;={{mfrac("2*y+y","2*y",0)}}={{mfrac("3*y","2*y",0)}}={{mfrac("3","2",0)}}</math></center>
		<br><center>(2) <math>{{mfrac("x+y","x'+y'",0)}}={{mfrac("x+y","x%y+y",0)}}={{mfrac("x+y","x-y+y",0)}}={{mfrac("x+y","x",0)}}=1+{{mfrac("y","x",0)}}&gt;=1+{{mfrac("y","2*y",0)}}={{mfrac("3","2",0)}}</math></center><br>
		And so, maximum number of operations can be bounded by O(q*log(min(ai, bi))), because sum x+y is always greater than 0, and after kth iteration it becomes lower at least {{msup("("+mfrac(3,2,0)+")","k",1)}} times.
	</div>
	<h3>Second Problem</h3>
	<div>
		Let's say that sole gcd(u,v) is not enough: You want to find such numbers x, y, such that u*x+v*y=gcd(u,v). One can use same mechanism to solve this problem, but calculate also arrays p, q, such that p[i]*u+q[i]*v=c, where c is b in i-th iteration. p[0]=1, q[0]=0 because u*p[0]+v*q[0]=u, also p[1]=0, q[1]=1 because u*p[1]+v*q[1]=b. Then, if z=floor(a/b), then {{msub(1,"b","i")}}={{msub(1,"a","i-1")}}-b'*z=(p[i-2]+q[i-2])-z*(p[i-1]+q[i-1]). And so, p[i]=p[i-2]-p[i-1]*z, q[i]=q[i-2]-z*q[i-1]. Animation shows, what is unseen.
	</div>

	<div id="Algo2">
		<h2>Extended Euclidean Algorithm</h2>
		<div id="Inputter2">
			<form>
				<input class="inputter" id="Erasto2" name="Erasto" value="84 35">
			</form>
			<button id="Sender2" class="sender">Begin</button>
			<button id="Prever2" class="previous">Previous Move</button>
			<button id="Nexter2" class="next">Next Move</button>
			<button id="Finisher2" class="finish">Finish</button>
		</div>
		<div class="breakAlgo"></div>
		<div id="Primez2" class="primez"></div>
		<div id="Comprehend2" class="comprehend"></div>
	</div>
	
	<script src={{url_for('static', filename='Gcd.js')}}></script>
</body>
