<html lang="en">
	<head>
		<title>Algorithm visualizations</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<div class="utilsBar">
				<button class="signer" form="page" type="submit" formmethod="post" name="next" id="signupButton" value="signup">Sign Up &gt;</button>
				<button class="signer" form="page" type="submit" formmethod="post" name="next" id="loginButton" value="login">Log in &gt;</button>
			</div>

			<input list="topics" form="sear" name="themes" id="themes">
			<datalist id="topics">
				{% for x in topics %}
					<option value="{{x}}">
				{% endfor %}
			</datalist>
			<button type="submit" formmethod="post" form="sear" name="search" value="go">Search</button>
			<div id="error" style="color:#FFFFFF;"></div>

		<h1>Wisdom is not lost here</h1>
		</header>
		<h2>Number Theory</h2>
		<div class="domainContainer">
			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="sieve" style="font-size:12px">\(
					\begin{array}{|c|c|c|c|}
					{% for i in [0,1,2,3] %}
						\hline
						{% for j in [0,1,2,3] %}
							{{i*4+j+2}}
							{% if (j!=3) %}
								&
							{% else %}
								\\
							{% endif %}
						{% endfor %}
					{% endfor %}
						\hline
					\end{array}	
				
				\)</button>
				<p class="algoName">Sieve</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="gcd">\(
					gcd(a, b)
				\)</button>
				<p class="algoName">Greatest Common Divisor</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="crt">\(
					\begin{cases}
						x \equiv 12\ (mod\ 12) \\
						x \equiv 47\ (mod\ 90) \\
					\end{cases}
				\)</button>
				<p class="algoName">Chinese Remainder Theorem</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="binex">\(
					a^b \equiv x\ (mod\ m)
				\)</button>
				<p class="algoName">Binary Exponentation</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="totient">\(
					\phi (x)
				\)</button>
				<p class="algoName">Totient Function</p>
			</div>
		</div>



		<h2>Tree</h2>
			<div class="domainContainer">
				<div class="btnContainer">
					<button class="wisdom treebutton" form="page" type="submit" formmethod="post" name="next" value="treewalk" style="border-radius:0%; width:230px; height:230px">\(
					<!--
	     style="border-radius:0%;width:1000px;height:1000px"-->

						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1em}{ #2em}{0em}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1em}\raise{ #2em}{ #3}}}}
						%
						\hskip 1em
						%
						\place{0}{4}{\bullet}
						\place{2}{8}{\bullet}
						\place{4}{4}{\bullet}
						\place{6}{12}{\bullet}
						\place{8}{4}{\bullet}
						\place{8}{8}{\bullet}
						%
						\place{.3}{4.5}{\uline{1.6}{3.6}}
						\place{2.3}{4.4}{\dline{1.6}{3.6}}
						\place{2.3}{8.4}{\uline{3.6}{3.7}}
						\place{6.3}{8.4}{\dline{3.6}{3.6}}
						\place{8.3}{4.5}{\uline{1.6}{3.6}}
						%
						\place{-1}{3.5}{1}
						\place{.75}{8}{2}
						\place{4.5}{3.5}{3}
						\place{5.75}{13}{4}
						\place{7}{3.5}{5}
						\place{8.75}{8}{6}
						%
						\hskip18em\Rule{0em}{14em}{1.5em}
					\)</button>
					<p class="algoName">Tree Basics</p>
				</div>
			</div>
		<form id="page" style="display:none"></form>
		<form id="sear" style="display:none"></form>
	</body>

</html>
