<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Algorithm visualizations</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='index.css')}}>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<h1>Wisdom is not lost here</h1>
		</header>
		<h2>Number Theory</h2>
		<div class="domainContainer">
			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="sieve" style="font-size:12px">\(
					\begin{array}{|c|c|c|c|}
					{% for i in [0,1,2,3] %}
						\hline
						{% for j in [0,1,2,3] %}
							{{i*4+j+2}}
							{% if (j!=3) %}
								&
							{% else %}
								\\
							{% endif %}
						{% endfor %}
					{% endfor %}
						\hline
					\end{array}	
				
				\)</button>
				<p class="algoName">Sieve</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="gcd">\(
					gcd(a, b)
				\)</button>
				<p class="algoName">Greatest Common Divisor</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="crt">\(
					\begin{cases}
						x \equiv 12\ (mod\ 12) \\
						x \equiv 47\ (mod\ 90) \\
					\end{cases}
					\)</button>
				<p class="algoName">Chinese Remainder Theorem</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="binex">\(
					a^b \equiv x\ (mod\ m)
				\)</button>
				<p class="algoName">Binary Exponentation</p>
			</div>

		</div>
		<form id="page" style="display:none"></form>
	</body>

</html>
