<html lang="en">
	<head>
		<title>Algorithm visualizations</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<div class="utilsBar">
				<button class="signer" form="page" type="submit" formmethod="post" name="next" id="signupButton" value="signup">Sign Up &gt;</button>
				<button class="signer" form="page" type="submit" formmethod="post" name="next" id="loginButton" value="login">Log in &gt;</button>
			</div>

			<input list="brow">
			<datalist id="brow">
				<option value="Internet Explorer" style="background-color:#FF0000; color=#00FF00">
				<option value="Firefox">
				<option value="Chrome">
				<option value="Opera">
				<option value="Safari">
			</datalist>  

		<h1>Wisdom is not lost here</h1>
		</header>
		<h2>Number Theory</h2>
		<div class="domainContainer">
			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="sieve" style="font-size:12px">\(
					\begin{array}{|c|c|c|c|}
					{% for i in [0,1,2,3] %}
						\hline
						{% for j in [0,1,2,3] %}
							{{i*4+j+2}}
							{% if (j!=3) %}
								&
							{% else %}
								\\
							{% endif %}
						{% endfor %}
					{% endfor %}
						\hline
					\end{array}	
				
				\)</button>
				<p class="algoName">Sieve</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="gcd">\(
					gcd(a, b)
				\)</button>
				<p class="algoName">Greatest Common Divisor</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="crt">\(
					\begin{cases}
						x \equiv 12\ (mod\ 12) \\
						x \equiv 47\ (mod\ 90) \\
					\end{cases}
				\)</button>
				<p class="algoName">Chinese Remainder Theorem</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="binex">\(
					a^b \equiv x\ (mod\ m)
				\)</button>
				<p class="algoName">Binary Exponentation</p>
			</div>

			<div class="btnContainer">
				<button class="wisdom" form="page" type="submit" formmethod="post" name="next" value="totient">\(
					\phi (x)
				\)</button>
				<p class="algoName">Totient Function</p>
			</div>
		</div>



		<h2>Tree</h2>
			<div class="domainContainer">
				<div class="btnContainer">
					<button class="wisdom treebutton" form="page" type="submit" formmethod="post" name="next" value="treewalk">\(
					<!--
	     					style="border-radius:0%;width:1000px;height:1000px"

						\require{enclose}
						\def\uline#1#2{\enclose{updiagonalstrike}{\phantom{\Rule{ #1cm}{ #2cm}{0cm}}}}
						\def\dline#1#2{\enclose{downdiagonalstrike}{\phantom{\Rule{ #1cm}{ #2cm}{0cm}}}}
						%
						\def\place#1#2#3{\smash{\rlap{\hskip{ #1cm}\raise{ #2cm}{ #3}}}}
						%

						//Przesuwa wykres -lewo-prawo-
						\hskip -1cm

						%
						\place{0}{12}{\bullet}
						\place{2}{0}{\bullet}
						\place{4}{4}{\bullet}
						\place{6}{0}{\bullet}
						\place{8}{8}{\bullet}
						\place{10}{0}{\bullet}
						\place{12}{4}{\bullet}
						\place{14}{0}{\bullet}
						\place{16}{12}{\bullet}
						%
						\place{.3}{4.4}{\dline{3.6}{7.6}}
						\place{2.3}{.5}{\uline{1.6}{3.6}}
						\place{4.3}{.4}{\dline{1.6}{3.6}}
						\place{4.3}{4.4}{\uline{3.6}{3.7}}
						\place{8.3}{4.4}{\dline{3.6}{3.6}}
						\place{10.3}{.5}{\uline{1.6}{3.6}}
						\place{12.3}{.4}{\dline{1.6}{3.6}}
						\place{12.2}{4.4}{\uline{3.7}{7.6}}
						%
						\place{-1}{12.5}{\frac01}
						\place{1}{-.5}{\frac13}
						\place{2.75}{4}{\frac12}
						\place{6.5}{-.5}{\frac23}
						\place{7.75}{9.5}{\frac11}
						\place{9}{-.5}{\frac32}
						\place{12.75}{4}{\frac21}
						\place{14.5}{-.5}{\frac31}
						\place{16.5}{12.5}{\frac10}
						%
						\hskip 10cm\Rule{0cm}{1cm}{0.1cm}
					-->
					\)Kappa</button>
					<p class="algoName">Tree Basics</p>
				</div>
			</div>
		<form id="page" style="display:none"></form>
	</body>

</html>
