<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
	</head>

	<body>	
		<header>
			<div class="utilsBar">
				<button class="backer" form="page" type="submit" formmethod="post" name="next" value="index">&lt; To main</button>
			</div>
			<h1>Log in</h1>
		</header>
		<label>login<input type="text" form="secrets_of_stars" id="login" name="login" required="required"></label>
		<label>password<input type="password" form="secrets_of_stars" id="pass" name="pass" required="required"></label>
		<button class="sender" form="secrets_of_stars" type="submit" formmethod="post" name="next" value="index">Send</button>
		<button class="sender" form="gateways_of_bereavement" type="submit" formmethod="post" name="next" value="forgotten" style="width:150px;">Forgot Password</button>

		<div id="error"></div>
		<form id="page" style="display:none"></form>
		<form id="secrets_of_stars" style="display:none"></form>
		<form id="gateways_of_bereavement" style="display:none"></form>
	</body>
</html>
