<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Sieve of Erastothenes</title>
		<meta charset = "UTF-8">
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Temp.css')}}>
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Primes.css')}}>
		<script src={{url_for('static', filename='Temp.js')}}></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>

	<body>
		<header>
			<div class="utilsBar">
				<button class="backer" form="page" type="submit" formmethod="post" name="next" value="index">&lt; To main</button>
			</div>
			<h1>Sieve of Eratosthenes</h1>
		</header>
		<h3>First Problem statement and definitions</h3>
		<p id="Theory">
			Let's say \(q\) queries \((q \le 1000000)\) are given: Is given number \(a_i (1 \le a_i \le 1000000)\) a prime? To solve this problem, first let's define prime number: a number \(k \in N^+\) is prime, if and only if<br><br>
			<span class="central">\(k \in P \iff \exists ! _{x \in N^+\backslash\{1\}} k \equiv 0\ (mod\ x)\)<br><br></span>
			where \(N^+\) is set of natural numbers excluding \(0\), \(P\) is set of primes. In other words, \(k\) needs to have exactly \(1\) natural divisor different than one - itself. A number \(k\) is divisible by \(m\) (or \(m\) is a divisor of \(k\)), if and only if:<br><br>
			<span class="central">\(m|k \iff \exists_{x \in N^+} mx=k\)</span><br>

			For example, \(2,\ 3,\ 5,\ 31\) are prime numbers. A number is is composite, if it's neither \(1\) nor prime number: for example, \(20=2*2*5\) is a composite number. The first solution that can be discussed is absolute brute force
		</p><br>
		<h3>First Solution</h3>
		<p id="sol1">One can check whether \(a_i\) is prime by checking whether any number \(x \in \lt 2;a_i-1 \gt\) is it's divisor: if it is, then \(a_i\) is not prime. This solution works in \(O(q*max(a_i))\), which is obvious if all numbers given in queries are prime - q numbers needs to be checked whether they have third divisor, and single check works in \(O(a_i)\)
		</p><br>

		<h3>Second Solution</h3>
		<p id="sol2">
		If \(d\) is a divisor of \(a_i\), \(d \ge 1\) and \(d \le a_i\), then either \(d \le \sqrt{a_i}\) or \( \frac{a_i}{d} \le \sqrt{a_i}\); proof by contradiction is trivial: if \(d|a_i\) then, there exists such natural \(b\), that \(bd=a_i\); if \(d \gt \sqrt{a_i} \) and \(b \gt \sqrt{a_i}\), then \( db \gt \sqrt{a_i}\sqrt{a_i}=a_i\); if one of them is equal to \(\sqrt{a_i}\), then, by definition, second must be equal to \(\sqrt{a_i}\) too, which finishes the proof. <br> And so, we need to check only \(\sqrt{a_i}\) values to check whether \(a_i\) is prime. That makes the algorithm run in \(O(q\sqrt{max(a_i)})\)
		</p><br>

		<h3>Third Solution - sieve</h3>
		<p id="sol3">However, problem can be solved with preprocessing and answering query in O(1) by creating array p[1000000], taking subsequent prime numbers starting from 2 and marking all numbers divisible by it as non-primes; then going to the next prime number (3), repeat procedure, and so on, as on animation:
		</p>
		
		<div id="Algo1">
			<h2>Sieve</h2>
			<div id="Inputter">
				<form>
					<input type="number" class="inputter" id="Erasto" name="Erasto" value="99">
				</form>
				<button id="Sender" class="sender">Begin</button>
				<button id="Prever" class="previous">Previous Move</button>
				<button id="Nexter" class="next">Next Move</button>
				<button id="Finisher" class="finish">Finish</button>
			</div>
			<div class="breakAlgo"></div>
			<div id="Primez" class="primez"></div>
			<div id="Comprehend" class="comprehend"></div>
		</div>

		<p id="Anime-Descr">
		Begin starts the sieve with a given limit. Next move moves forward current sieve, Previous move moves backward. This sieve has 2 optimizations: first, if a number is marked as non-prime, then all numbers it could mark were already marked by it's divisor. Proof:<br><br>
		<span class="central">\(a|b \land b|c \implies \exists_{k, l \in N} (ka=b \land lb=lka=c) \implies a|c\)</span><br><br>

		Secondly, for given \(x\), no composite number \(y \lt x^2\) has lowest divisor \(d \gt 1\) greater or equal to \(x\), which was shown in 2nd solution to this problem - and so, marking starts from \(x^2\)
		</p>
			<h3>Complexity proof #1</h3>
		<p id="Complexity">
		It can be easily proven, that sieve, even without any optimizations works in \(O(n*log(n))\): In each operation, one either searches for next prime number: sum of all searches is just linear walk from the beginning to the end of table, so it's linear; or marks numbers. Marking numbers works in \(O(n*log(n))\), because it's sum of iterations on the table with difference equal to some prime: when sieve marks numbers divisible by \(2\), it passes at most \(\frac{n}{2}\) numbers; when it marks numbers divisible by \(3\), it passes at most \(\frac{n}{3}\) numbers, etc. So, algorith works in:
			<br>
			<span class="central">
				\(
				{% for i in [2, 3, 5, 7, 11, 13] %}
					\frac{n}{ {{i}} }+				
				{% endfor %}
				...+\frac{n}{maxPrime}
				\le
				{% for i in range(2, 8) %}	
					{% if i==2 or i==4 %}
						<!-- Here shall be underbrace begginning-->
					{% endif %}
					\frac{n}{ {{i}} }
					{% if i==3 or i==7 %}
						<!-- Here shall be underbrace endet-->
					{% endif %}
					+
				{% endfor %}
				...+\frac{n}{n} \le


				{% for i in range(1, 4) %}
					{% set s=jipow(2, i) %}
					{% for j in range(s) %}
						\frac{n}{ {{s}} }
						{% if (j!=s-1) %}
							+
						{% endif %}
					{% endfor %}
					+
				{% endfor %}
				...+\frac{n}{2^{\lfloor log_2(n) \rfloor}} \le
				\)
			</span><br><span class="central">
				\(


				\le
				{% for i in range(1, 4) %}
					{% set s=jipow(2, i) %}
					{{s}}*\frac{n}{ {{s}} }+
				{% endfor %}
				...+2^{\lfloor log_2(n) \rfloor} * \frac{n}{2^{\lfloor log_2(n) \rfloor}} =

				\sum^{\lfloor log_2(n) \rfloor}_{i=1} i*\frac{n}{i}=
				n*\sum^{\lfloor log_2(n) \rfloor}_{i=1}1=
				n \lfloor log_2(n) \rfloor=O(n*log(n))
				\)
			</span>
			<br>
		</p>
			<h3>Complexity proof #2</h3>
			<p>
				But there is also simpler proof with assumtion, that we only mark numbers after we stumble upon a prime number (e.g., after marking \(4\), we don't start marking \(8,\ 12,\ 16,\ 20, ...)\). How many times one number can be marked using that optimization? It will be marked by all it's prime divisors at most once: so, \(16=2*2*2*2\) will be marked once, because it has one distinct prime component(2).  On the other hand, \(4800=2*2*2*2*2*2*3*5*5\) will be marked at most thrice, because it has three distinct prime divisors \((2,\ 3,\ 5)\). Ultimately, a number \(x\) cannot be marked more times than \(log_2(x)\). So, if \(max(a_i) \le K \), then complexity of this sieve is \(O(n*s)\), where \(s\) is maximal number of distinct prime divisors of any number \(1 \le x \le K\). What can be said about minimal number containing \(s\) distinct prime divisors?:
			<br><br>
			<span class="central">(I) If \(x\) can be shown as 
				\(

				x=
					{% for j in range(2) %}
						p_{{j}}^{ q_{{j}} }
					{% endfor %}
					...*p_n^{q_n}
				\)
				then there is \(y \le x\) that can be shown as 
				
				\(
					y=
					{% for j in range(2) %}
						p_{{j}}
					{% endfor %}
					...*p_n
				\)
				having same number of distinct prime divisors.
			</span>

			<br>
			<span class="central">(II) If for given 
				\(y=
					{% for j in range(2) %}
						p_{{j}}
					{% endfor %}
					...*p_n
				\)

				there is such prime number \(v\) such that \(\exists_{i} v \lt p_i\) and \(!\exists_{j}v=p_j\), then
					\(
					\exists_{z \in N^+} z=\frac{v}{p_i}*y \le y
					\)
			</span>
			<br>
			What follows, one can construct lowest number with \(s\) distinct prime divisors by multiplying subsequent prime numbers, starting from lowest: \(2*3*5*...*p_m; m \le log_2(n)\), and the proof is finished giving better approximation of number of used steps in this algorithm.
			</p>	
			<br>
			<p id="gutSieve">
				Query answering can be done in \(O(q)\), because for each query \(a_i\) one only needs to look whether it is marked as prime or not - that can be done in \(O(1)\). So total complexity for a given task is at most \(O(n*log(n)+q)\), where \(n\) is number, for which we run sieve, that is \(n \ge max(a_i)\). 
			</p>
				
				
				
			<h3>Second problem</h3>
			<p id="ZwieteProbleme">
				This sieve can be used to much more sophisticated tasks: let's say You have to find a factorization of \(n\ (n\le1000000)\) numbers \(a_i (1 \le a_i \le 1000000)\), i.e. find it's representation as product of prime numbers. For example, \(2852=2*2*23*31\). Such representation is unique for each number. If You'll mark each number with it's lowest divisor (instead of sole information whether it's prime) then You'll be able to solve this problem in the same way as above, in complexity \(O(nlog(n)+qlog(n))\): below is an animation of inner workings of such sieve and query mechanism (which works only after finishing sieve)

		</p>
		
		<br><br>
		<div id="Algo2" style="position:sticky">
			<div id="sieveSection">
				<h2>Enchanced Sieve</h2>
				<div id="Inputter2">
					<form>
						<input type="number" id="Erasto2" class="inputter" name="Erasto2" value="99">
					</form>
					<button id="Sender2" class="sender">Begin</button>
					<button id="Prever2" class="previous">Previous Move</button>
					<button id="Nexter2" class="next">Next Move</button>
					<button id="Finisher2" class="finish">Finish</button>
				</div>
				<div class="breakAlgo"></div>
				<div id="Primez2" class="primez"></div>
				<div id="Comprehend2" class="comprehend"></div>
			</div>


			<div id="querySection">
				<h2>Factorization query</h2>
				<div id="Inputter3">
					<form>
						<input type="number" id="Querier" class="inputter" name="query" value="99">
					</form>
					<button id="Sender3" class="sender">Begin</button>
					<button id="Prever3" class="previous">Previous Move</button>
					<button id="Nexter3" class="next">Next Move</button>
					<button id="Finisher3" class="finish">Finish</button>
				</div>
				<div class="breakAlgo"></div>
				<div class="primez"></div>
				<div id="Query_output" class="comprehend">
					In order to start query You need to finish the sieve
				</div>
			</div>
		</div>
		<p id="Summary">
		Sieves allow solving multitude of problems, including also finding Euler totient function or applying includion/exclusion principle on greatest common divisors (GCD). Example problems regarding sieves from codeforces: <a href="https://codeforces.com/contest/300/problem/E">Empire Strikes Back</a>, <a href="https://codeforces.com/problemset/problem/73/E">Morrowindows</a>, <a href="https://codeforces.com/problemset/problem/839/D">Winter is Here</a>
		</p>

		<div id="debug"></div>
		<script src={{url_for('static', filename='Sieve.js')}}></script>
		<script src={{url_for('static', filename='Primes.js')}}></script>
		<form id="page" style="display:none"></form>
	</body>
</html>
