<html>
	<head>
		<title>Signup</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Temp.css')}}">
	</head>

	<body>	
		<header class="systemHeader">
			<div class="utilsBar systemUtils">
				<button class="backer systemBacker" form="page" type="submit" formmethod="post" name="next" value="index">&lt; To main</button>
			</div>
			<h1>Signup</h1>
		</header>

		<label>e-mail<input type="email" form="secrets_of_stars" id="email" name="email" required="required" value="sebastian.michon10@protonmail.com"></label>
		<label>login<input type="text" form="secrets_of_stars" id="login" name="login" required="required"></label>
		<label>password<input type="password" form="secrets_of_stars" id="pass" name="pass" required="required"></label>
		<button class="sender" form="secrets_of_stars" type="submit" formmethod="post" name="next" value="index">Send</button>
		<div>After sending data properly, You'll be redirected to the main site, and a message will be send to Your e-mail, with link enabling Thee to activate Your account</div>

		<div id="error"></div>
		<form id="page" style="display:none"></form>
		<form id="secrets_of_stars" style="display:none"></form>
	</body>
</html>
