<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Totient function</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Temp.css')}}>
		<script src={{url_for('static', filename='Temp.js')}}></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>
	<body>
		<header>
			<div class="utilsBar">
				<button class="backer" form="page" type="submit" formmethod="post" name="next" value="index">&lt; To main</button>
			</div>
			<h1>Totient Function</h1>
		</header>
		<h3>First problem statement and definitions</h3>
		<p>
			Suppose You are given following problem: For a given number \(m, y (m, y \le 10^{13}\)) how many there are numbers \(x\), such that \(gcd(m,x)=y\) and \(x \le m\)? 
		</p>
		<h3>Special case Solution</h3>
		<p>
		It is approprite to solve problem for \(y=1\) before proceeding to general case. Let's define function \(\phi(a)\) as number of numbers \(k \le a\) coprime to \(a\): \(\phi(a)=|\{k: gcd(k,a)=1\}|\). What can be said about such a function? <br>
		I) For prime \(p: \phi(p^k)=p^{k-1}(p-1)\) - because \(gcd(x, p^k) \gt 1 \iff p|x\), and all numbers \(x|p \land x \le p^k\) are: \(p, 2p, 3p, ... (p-1)p\). What follows, \(\phi(p^k)=p^k-p^{k-1}=p^{k-1}(p-1)\) <br><br>
		II) For coprime \(a, b: \phi(ab)=\phi(a) \phi(b)\) - Proof:<br>
		
		1) For each number \(x\) there are unique numbers \(c_1 \lt a,\ c_2 \lt b\) such that:<br>
		<span class="central">\(
			\begin{cases}
			x \equiv c_1\ (mod\ a) \\
			x \equiv c_2\ (mod\ b)\\
			\end{cases}
		\)
		</span>
		from chinese remainder theorem, for coprime \(a, b\) pair \(c_1, c_2\) uniquely determines number \(x \in &lt;0;ab-1&gt;\)<br>
		2) From Euclid's algorithm \(gcd(w, v)=gcd(w\ mod\ v, v)\). And so, \(gcd(x, a)=gcd(x\ mod\ a, a)=gcd(c_1, a)\), analogously \(gcd(x, b)=gcd(c_2, b)\).<br>
		3) From Euclid's lemma \(p|ab \implies p|b \lor p|a\). And if there is no \(p: (p|a \land p|x) \lor (p|b \land p|x)\), then there is no \(p: p|ab \land p|x\). And so, if \(gcd(c_1, a)=gcd(c_2, b)=1\), then \(gcd(x, ab)=1\)<br>
		4) If each pair \(c_1, c_2\) uniquely defines \(x \in &lt;0;ab-1&gt;\), then one can prove theorem combinatorically: \(gcd(x, ab)=1 \iff (gcd(c_1, a)=1 \land gcd(c_2, b)=1)\). How many there are numbers \(c_1\), such that \(gcd(a, c_1)=1\) and \(c_1 \lt a\)? \(\phi(a)\). Analogously for \(b\). And so, There are \(\phi(a) \phi(b)\) pairs \(c_1, c_2\) identifying \(x: gcd(x, ab)=1\), which finishes the proof.

		</p>

		<script src={{url_for('static', filename='Totient.js')}}></script>
		<form id="page" style="display:none"></form>
	</body>
</html>
