<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Totient function</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='Temp.css')}}>
		<script src={{url_for('static', filename='Temp.js')}}></script>
		<script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
	</head>
	<body>
		<header>
			<div class="utilsBar">
				<button class="backer" form="page" type="submit" formmethod="post" name="next" value="index">&lt; To main</button>
			</div>
			<h1>Totient Function</h1>
		</header>
		<h3>First problem statement and definitions</h3>
		<p>
			Suppose You are given following problem: For a given number \(m, y (m, y \le 10^{13}\)) how many there are numbers \(x\), such that \(gcd(m,x)=y\) and \(x \le m\)? 
		</p>
		<h3>Special case Solution: theory</h3>
		<p>
		It is approprite to solve problem for \(y=1\) before proceeding to general case. Let's define function \(\phi(a)\) as number of numbers \(k \le a\) coprime to \(a\): \(\phi(a)=|\{k: gcd(k,a)=1\}|\). What can be said about such a function? <br>
		<ol type="I">
			<li>For prime \(p: \phi(p^k)=p^{k-1}(p-1)\) - because \(gcd(x, p^k) \gt 1 \iff p|x\), and all numbers \(x|p \land x \le p^k\) are: \(p, 2p, 3p, ... (p-1)p\). What follows, \(\phi(p^k)=p^k-p^{k-1}=p^{k-1}(p-1)\) </li>

			<li> For coprime \(a, b: \phi(ab)=\phi(a) \phi(b)\) - Proof:<br>
		
				<ol>
					<li> For each number \(x\) there are unique numbers \(0 \lt c_1 \lt a,\ 0 \lt c_2 \lt b\) such that:<br>
		<span class="central">\(
			\begin{cases}
			x \equiv c_1\ (mod\ a) \\
			x \equiv c_2\ (mod\ b)\\
			\end{cases}
		\)
		</span>
		from chinese remainder theorem, for coprime \(a, b\) pair \(c_1, c_2\) uniquely determines number \(x \in &lt;0;ab-1&gt;\)
					</li>
					<li> From Euclid's algorithm \(gcd(w, v)=gcd(w\ mod\ v, v)\). And so, \(gcd(x, a)=gcd(x\ mod\ a, a)=gcd(c_1, a)\), analogously \(gcd(x, b)=gcd(c_2, b)\).</li>
					<li> From Euclid's lemma \(p|ab \implies p|b \lor p|a\). And if there is no \(p: (p|a \land p|x) \lor (p|b \land p|x)\), then there is no \(p: p|ab \land p|x\). And so, if \(gcd(c_1, a)=gcd(c_2, b)=1\), then \(gcd(x, ab)=1\) </li>
					<li> If each pair \(c_1, c_2\) uniquely defines \(x \in &lt;0;ab-1&gt;\), then one can prove theorem combinatorically: \(gcd(x, ab)=1 \iff (gcd(c_1, a)=1 \land gcd(c_2, b)=1)\). How many there are numbers \(c_1\), such that \(gcd(a, c_1)=1\) and \(c_1 \lt a\)? \(\phi(a)\). Analogously for \(b\). And so, there are \(\phi(a) \phi(b)\) pairs \(c_1, c_2\) identifying \(x: gcd(x, ab)=1\), which finishes the proof.</li>
				</ol>
			</li>
		</ol>
		To sum up the proof: each \(x\) identifies one pair \(0 &lt; c_1 &lt; a, 0 &lt; c_2 &lt; b\), and each \(c_1, c_2\) identifies exactly one \(x \in &lt; 0;ab-1 &gt;\). If and only if \(gcd(c_1, a)=gcd(c_2, b)=1\), then \(x\) defined by \(c_1, c_2\) is coprime to \(ab\). There are \(\phi (a)\) numbers, such that \(gcd(c_1, x)=1\), and \(\phi (b)\) numbers, such that \(gcd(c_2, x)=1\) - and so, there are \(\phi(a) \phi(b)\) distinct pairs \(c_1, c_2\) such that \(x &lt; ab\) identified by them is coprime to \(ab\), and for any \(ab \gt 1:\ gcd(ab, ab) &gt; 1\).<br>
		This proof won't work for not coprime \(a, b\) (and it shouldn't - \( \phi(32)=16 \neq \phi(4) \phi(8) = 8 \)), because \(c_1, c_2\) are not mapping uniquely to \( \lt 0;ab-1 \gt\), but to \( \lt 0;lcm(ab)-1 \gt\), and some \(c_1, c_2\) have no solutions: for example, for \(a=4, b=8, x \lt ab\):
		<span class="central">\(
			\begin{cases}
			x \equiv 1\ (mod\ 4)\\
			x \equiv 3\ (mod\ 8)\\
			\end{cases} \iff x \in \emptyset
		\)</span><span class="central">\(
			\begin{cases}
			x \equiv 1\ (mod\ 4)\\
			x \equiv 5\ (mod\ 8)\\
			\end{cases} \iff x \in \{5, 13, 21, 29\}
			\)
		</span>
		</p>
		<h3>Special case Solution: factorization</h3>
		<p>	
		What follows, if one can factorise \(x=p_1^{q_2} p_1^{q_2} \dots p_n^{q_n}\), then \(\phi (x) = \phi (p_1^{q_1} p_1^{q_1} \dots p_n^{q_n}) = \phi (p_1^{q_1}) \phi(p_2^{q_2} \dots p_n^{q_n})= \dots =\phi (p_1^{q_1}) \phi(p_2^{q_2}) \dots \phi(p_n^{q_n})=(p_1-1)p_1^{q_1-1}(p_2-1)p_2^{q_2-1} \dots (p_n-1)p_n^{q_n-1}=p_1^{q_1}* \frac{p_1-1}{p_1}* p_2^{q_2}* \frac{p_2-1}{p_2}* \dots p_n^{q_n}* \frac{p_n-1}{p_n}=x*\frac{(p_1-1)}{p_1}* \frac{(p_2-1)}{p_2}* \dots \frac{(p_n-1)}{p_n}\).
		</p>
		<h3>Full solution</h3>
		<p>
			To solve full problem, one can observe, that if \(y|m \land y \gt 0\):
			<ol>
				<li>\(gcd(m, x)=y \iff gcd(\frac{m}{y}, \frac{x}{y})=1\)</li>
				<li>\(x \le m \iff \frac{x}{y} \le \frac{m}{y}\) </li>
			</ol>
			And so, \( |\{x:\ gcd(x, m)=y\}|=\phi(\frac{m}{y}) \). One can solve problem by factorizing \(\frac{m}{y}\) and using pattern above: complexity will be \(O(\sqrt{\frac{m}{y}})\).
		</p>
		<h3>Consequence #1</h3>
		<p>It's worth noting, that every number \(x \le m\) has \(gcd(x, m) \in \lt 1;m \gt \). What follows, \(\sum_{d:\ d|m} \phi(\frac{m}{d})=m\)</p>

		<!--<h3>Consequence #2</h3>
		<p>Furthermore, </p>-->

		<h3>Sieve algoruthm for finding totient</h3>
		<p>To find totient of each number in range \(\lt 1;n \gt\), one can utilize standard sieve: initialize each number's totient with itself, and each time a prime number \(p\) is found, multiply totients of all numbers \(x:\ p|x \land x \le n\) by \(\frac{p-1}{p}\): the only nuance, which diffrentiates it from standard sieve is necessity of changing totients from \(p\), not \(p*p\), as in normal sieve</p>

		<div id="Algo1">
			<h2>Totient calculation</h2>
			<div id="Inputter">
				<form>
					<input type="number" class="inputter" id="Erasto" name="Erasto" value="99">
				</form>
				<button id="Sender" class="sender">Begin</button>
				<button id="Prever" class="previous">Previous Move</button>
				<button id="Nexter" class="next">Next Move</button>
				<button id="Finisher" class="finish">Finish</button>
			</div>
			<div class="breakAlgo"></div>
			<div id="Primez" class="primez"></div>
			<div id="Comprehend" class="comprehend"></div>
		</div>

		<script src={{url_for('static', filename='Sieve.js')}}></script>
		<script src={{url_for('static', filename='Totient.js')}}></script>
		<form id="page" style="display:none"></form>

		<h3>Second problem statement</h3>
		<p> Suppose You are given numbers \(1 \le a_1, a_2, .. a_n, m \le 10^9+7, n \le 10^5\) and have to find value of such expression:
		<span class="central" style="font-size:20px;">$$a_1^{ ({a_2} ^{( {a_3} ^ {(\dots a_n)})})} mod\ m$$</span>
		<h3>First observations (possibly useless)</h3>
		<p>To solve this problem, one may first solve value of exponent, and then evaluate full expression: \(a_1^{c} \equiv x\ (mod\ m)\). Exponent can be calculated in the same way, until end of sequence is reached... but modulo what? It is rather impossible to store whole number as exponent or do any calculations on such arduous numbers. To calculte c, it would be wise to know such a number \(x\), such that \(a^b \equiv a^{b+x}\ (mod\ m)\) - at least for coprime \(a, m\). Such number must exist, because number of possible values of \(a^b\) is finite (equal to \(m\), to be precise), and so, from pigeonhole principle, there exist such \(s_1 \lt s_2\), such that \(a^{s_1} \equiv a^{s_2}\ (mod\ m)\). What follows, \(x=s_2-s_1\) (there must be more solutions, perhaps some are lower). Then, 
		<span class="central">\( a^b \equiv a^{b+x}\ (mod\ m)\) <br>
			\( a^b \equiv a^ba^x\ (mod\ m)\ \ \ //*(a^b)^{-1}\) - it exists, because \(gcd(a, m)=1\)<br>
			\( 1 \equiv a^x\ (mod\ m)\)<br>
		</span>
		And so, \(a^c \equiv a^{c\ mod\ x}\ (mod\ m)\). Let's denote \(a\) as \(a_i\), \(x\) as \(x_i\). For all numbers coprime to \(m\): \(a_1, a_2 \dots a_{\phi(n)}\) there is \(x_j\), such  that \(a_j^{x_j} \equiv 1\). Let \(f(m)=lcm(x_1, x_2, \dots, x_{\phi(m)})\). Then, \(\forall_j a_j^{f(m)} \equiv 1\ (mod\ m)\). And so, for any \(m\) there exist function \(f\), such that \(\forall_{x: gcd(x, m)=1} x^{f(m)} \equiv 1\ (mod\ m)\). Now, the problem is: what function can be \(f\)?
		</p>
		<h3>Euler's Theorem</h3>
		<p>
		Let \(a_1, a_2, \dots, a_{\phi(m)}\) be a sequence of all numbers \(y:\ gcd(y, m)=1 \land y \le m \lt\), such that \(\forall_{i,j} a_i \neq a_j\). Let \(b=a_i\) for some \(i\). Then:
		<span class="central">\(a_1, a_2, \dots, a_{\phi(m)}\ \ //*b\)<br>
			\(ba_1, ba_2, \dots, ba_{\phi(m)} \mod m\)
		</span>
		Let's take two numbers from second sequence: are they distinct? By contradiction:
		<span class="central">\(ba_i \equiv ba_j\pmod m\ \ //*b^{-1}\) - modular inverse must exist, for \(gcd(b, m)=1\)<br>
			\(a_i \equiv a_j\pmod m\)
		</span>
		But from definition \(a_i \neq a_j\), both being lower than \(m\), so they are distinct. And so, both sequnces consist only of numbers coprime to \(m\), have distinct elements modulo \(m\), and have same elements: \(\{x:\ gcd(x, m)=1 \land x \le m\}\). What follows, one is permutation of the second. And so, 
		<span class="central">\(a_1a_2 \dots a_{\phi(m)} \equiv ba_1ba_2 \dots ba_{\phi(m)} \pmod m\)<br>
			\(a_1a_2 \dots a_{\phi(m)} \equiv b^{\phi(m)}a_1a_2 \dots a_{\phi(m)} \pmod m\ \ //*a_1^{-1}a_2^{-1}...a_{\phi(m)}^{-1}\)  - modular inverse exists, for all numbers are coprime to \(m\)<br>
			\(1 \equiv b^{\phi(m)} \pmod m\)
		</span>
		And so, lo, behold, function was found, \(f=\phi\): \(\forall_{x: gcd(x, m)=1} x^{\phi(m)} \equiv 1\ (mod\ m)\)		
		</p>
		<h3>Generalized Euler's theorem</h3>


	</body>
</html>
